
<h3 class="card-title h5 mb-3">Statistiques</h3>
<span class="fw-bolder me-2">{{ app.user.credit.total }}</span> <span class="fw-light">crédits disponibles</span><br>
<span class="fw-bolder me-2">{{ profile.jobListings|length}}</span> <span class="fw-light">annonces publiées</span><br>
<span class="fw-bolder me-2">{{ profile.favoris|length}}</span> <span class="fw-light">favoris</span><br>
<span class="fw-bolder me-2">{{ profile.prestations|length}}</span> <span class="fw-light">prestations</span><br>