<div class="shadow-custom p-2 p-sm-4">
	<h2 class="fs-4 fw-bolder text-center my-3 my-sm-5">
		<i class="bi bi-folder2-open text-warning me-2"></i>
		Candidatures reçues
	</h2>
	<p class="text-center">
		Bienvenue sur votre espace dédié aux candidatures que vous avez reçues. Vous trouverez ici un suivi complet des candidats ayant postulé à vos offres.
	</p>

	<div class="text-center col-lg-6 col-sm-12 mx-auto">
		<img src="{{ asset('images/empty.png')}}" class="img-fluid">
		<p class="text-center">Vous n'avez reçu aucune candidature pour le moment. Continuez à publier vos offres pour attirer les meilleurs talents !</p>
	</div>
</div>
