{% extends 'dashboard/base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h2>Envoyer un mail à {{ entreprise.nom }}</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary rounded-pill">Envoyer</button>
        {{ form_end(form) }}
</div>

{% endblock %}