{% extends 'base.html.twig' %}
{% block body %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto text-light">
        <h1 class="fw-light">BOOSTEZ VOTRE PRODUCTIVITÉ</h1>
        <p class="lead text-body-light">Découvrez les meilleurs outils IA de 2023. Explorez des solutions pour améliorer votre entreprise et votre productivité. Lisez nos analyses détaillées et faites le bon choix !</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section>
    <div class="album py-5 bg-body-dark">
      <div class="container">

      <div id="ia-container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ia-item">  
        {% include "home/_tools.html.twig" %}
        </div>

      </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  let offset = 9; 
  $(window).on('scroll', function() {
      const threshold = 2;
      const position = $(window).scrollTop() + $(window).height();
      const height = $(document).height();
          
      if (position >= height - threshold && offset <= 20) { // Ajout de la condition offset <= 20
          console.log('fini');
          $.ajax({
              url: `/outils-ia?offset=${offset}`,
              type: 'GET',
              success: function(response) {
                  if (response) {
                      const $produitItemDiv = $('#ia-container .ia-item');
                      if ($produitItemDiv.length) {
                          $produitItemDiv.append(response.html);
                      }
                      offset += 9; // Incrémente pour le prochain lot
                  }
              },
              error: function(error) {
                  console.error('Une erreur est survenue:', error);
              }
          });
      }
  });
</script>
{% endblock %}
