CREATE TABLE secteur (id INT AUTO_INCREMENT NOT NULL, nom VARCHAR(255) NOT NULL, slug VARCHAR(255) DEFAULT NULL, description LONGTEXT DEFAULT NULL, PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE secteur_entreprise_profile (secteur_id INT NOT NULL, entreprise_profile_id INT NOT NULL, INDEX IDX_85014EED9F7E4405 (secteur_id), INDEX IDX_85014EED636D8953 (entreprise_profile_id), PRIMARY KEY(secteur_id, entreprise_profile_id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE job_listing (id INT AUTO_INCREMENT NOT NULL, entreprise_id INT DEFAULT NULL, secteur_id INT DEFAULT NULL, titre VARCHAR(255) NOT NULL, description LONGTEXT NOT NULL, date_creation DATETIME NOT NULL, date_expiration DATETIME DEFAULT NULL, status VARCHAR(255) DEFAULT NULL, salaire NUMERIC(10, 2) NOT NULL, lieu VARCHAR(255) DEFAULT NULL, type_contrat VARCHAR(255) DEFAULT NULL, job_id BINARY(16) NOT NULL COMMENT '(DC2Type:uuid)', INDEX IDX_51EFFF4FA4AEAFEA (entreprise_id), INDEX IDX_51EFFF4F9F7E4405 (secteur_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE job_listing_competences (job_listing_id INT NOT NULL, competences_id INT NOT NULL, INDEX IDX_7E917DD2BE160D07 (job_listing_id), INDEX IDX_7E917DD2A660B158 (competences_id), PRIMARY KEY(job_listing_id, competences_id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE job_listing_langue (job_listing_id INT NOT NULL, langue_id INT NOT NULL, INDEX IDX_E5D60498BE160D07 (job_listing_id), INDEX IDX_E5D604982AADBACD (langue_id), PRIMARY KEY(job_listing_id, langue_id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE entreprise_profile (id INT AUTO_INCREMENT NOT NULL, entreprise_id INT DEFAULT NULL, taille VARCHAR(255) DEFAULT NULL, localisation VARCHAR(255) NOT NULL, site_web VARCHAR(255) DEFAULT NULL, description LONGTEXT DEFAULT NULL, UNIQUE INDEX UNIQ_39B319BCA4AEAFEA (entreprise_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE candidate_profile (id INT AUTO_INCREMENT NOT NULL, candidat_id INT DEFAULT NULL, created_at DATETIME NOT NULL, updated_at DATETIME DEFAULT NULL, resume LONGTEXT DEFAULT NULL, file_name VARCHAR(255) DEFAULT NULL, localisation VARCHAR(255) DEFAULT NULL, birthday DATETIME DEFAULT NULL, titre VARCHAR(255) DEFAULT NULL, cv VARCHAR(255) DEFAULT NULL, UNIQUE INDEX UNIQ_E8607AE8D0EB82 (candidat_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE candidate_profile_secteur (candidate_profile_id INT NOT NULL, secteur_id INT NOT NULL, INDEX IDX_F9B446F6FE3D0586 (candidate_profile_id), INDEX IDX_F9B446F69F7E4405 (secteur_id), PRIMARY KEY(candidate_profile_id, secteur_id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE applications (id INT AUTO_INCREMENT NOT NULL, candidat_id INT DEFAULT NULL, job_listing_id INT DEFAULT NULL, annonce_id INT DEFAULT NULL, lettre_motivation LONGTEXT NOT NULL, cv_link VARCHAR(255) DEFAULT NULL, date_candidature DATETIME NOT NULL, status VARCHAR(255) DEFAULT NULL, pretention_salariale NUMERIC(10, 2) NOT NULL, INDEX IDX_F7C966F08D0EB82 (candidat_id), INDEX IDX_F7C966F0BE160D07 (job_listing_id), INDEX IDX_F7C966F08805AB2F (annonce_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE metting (id INT AUTO_INCREMENT NOT NULL, entreprise_id INT DEFAULT NULL, candidat_id INT DEFAULT NULL, moderateur_id INT DEFAULT NULL, date_rendez_vous DATETIME NOT NULL, lieu VARCHAR(255) DEFAULT NULL, status VARCHAR(255) DEFAULT NULL, commentaire LONGTEXT DEFAULT NULL, INDEX IDX_A8955F0BA4AEAFEA (entreprise_id), INDEX IDX_A8955F0B8D0EB82 (candidat_id), INDEX IDX_A8955F0B20A01F78 (moderateur_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE affiliate_tool (id INT AUTO_INCREMENT NOT NULL, nom VARCHAR(255) NOT NULL, description LONGTEXT NOT NULL, lien_affiliation VARCHAR(255) NOT NULL, commission NUMERIC(10, 2) NOT NULL, PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE competences (id INT AUTO_INCREMENT NOT NULL, nom VARCHAR(255) NOT NULL, slug VARCHAR(255) NOT NULL, description LONGTEXT DEFAULT NULL, note INT DEFAULT NULL, PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE competences_candidate_profile (competences_id INT NOT NULL, candidate_profile_id INT NOT NULL, INDEX IDX_821B4E14A660B158 (competences_id), INDEX IDX_821B4E14FE3D0586 (candidate_profile_id), PRIMARY KEY(competences_id, candidate_profile_id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE experiences (id INT AUTO_INCREMENT NOT NULL, profil_id INT DEFAULT NULL, nom VARCHAR(255) NOT NULL, description LONGTEXT DEFAULT NULL, entreprise VARCHAR(255) NOT NULL, en_poste TINYINT(1) NOT NULL, date_debut DATE DEFAULT NULL, date_fin DATE DEFAULT NULL, INDEX IDX_82020E70275ED078 (profil_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE langages (id INT AUTO_INCREMENT NOT NULL, profile_id INT DEFAULT NULL, langue_id INT DEFAULT NULL, titre VARCHAR(255) DEFAULT NULL, niveau INT DEFAULT NULL, code VARCHAR(255) DEFAULT NULL, INDEX IDX_C9CF1A1CCCFA12B8 (profile_id), INDEX IDX_C9CF1A1C2AADBACD (langue_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE social (id INT AUTO_INCREMENT NOT NULL, candidat_id INT DEFAULT NULL, linkedin VARCHAR(255) DEFAULT NULL, skype VARCHAR(255) DEFAULT NULL, slack VARCHAR(255) DEFAULT NULL, facebook VARCHAR(255) DEFAULT NULL, instagram VARCHAR(255) DEFAULT NULL, github VARCHAR(255) DEFAULT NULL, UNIQUE INDEX UNIQ_7161E1878D0EB82 (candidat_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE langue (id INT AUTO_INCREMENT NOT NULL, nom VARCHAR(255) NOT NULL, slug VARCHAR(255) DEFAULT NULL, code VARCHAR(255) DEFAULT NULL, PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE moderateur_profile (id INT AUTO_INCREMENT NOT NULL, moderateur_id INT DEFAULT NULL, UNIQUE INDEX UNIQ_DA76531320A01F78 (moderateur_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE notification (id INT AUTO_INCREMENT NOT NULL, expediteur_id INT NOT NULL, destinataire_id INT NOT NULL, date_message DATETIME NOT NULL, is_read TINYINT(1) NOT NULL, contenu LONGTEXT NOT NULL, status VARCHAR(255) DEFAULT NULL, INDEX IDX_BF5476CA10335F61 (expediteur_id), INDEX IDX_BF5476CAA4F84F6E (destinataire_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE search_history (id INT AUTO_INCREMENT NOT NULL, user_id INT DEFAULT NULL, query VARCHAR(255) NOT NULL, created_at DATETIME NOT NULL, INDEX IDX_AA6B9FD1A76ED395 (user_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE `user` (id INT AUTO_INCREMENT NOT NULL, email VARCHAR(180) NOT NULL, roles JSON NOT NULL, password VARCHAR(255) NOT NULL, is_verified TINYINT(1) NOT NULL, type VARCHAR(255) DEFAULT NULL, nom VARCHAR(255) DEFAULT NULL, prenom VARCHAR(255) DEFAULT NULL, date_inscription DATE NOT NULL, dernier_login DATETIME DEFAULT NULL, telephone VARCHAR(255) DEFAULT NULL, adress VARCHAR(255) DEFAULT NULL, gravatar VARCHAR(255) DEFAULT NULL, google_id VARCHAR(255) DEFAULT NULL, UNIQUE INDEX UNIQ_8D93D649E7927C74 (email), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE annonce_vues (id INT AUTO_INCREMENT NOT NULL, annonce_id INT DEFAULT NULL, id_adress VARCHAR(255) NOT NULL, INDEX IDX_D6D9E91D8805AB2F (annonce_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE messenger_messages (id BIGINT AUTO_INCREMENT NOT NULL, body LONGTEXT NOT NULL, headers LONGTEXT NOT NULL, queue_name VARCHAR(190) NOT NULL, created_at DATETIME NOT NULL COMMENT '(DC2Type:datetime_immutable)', available_at DATETIME NOT NULL COMMENT '(DC2Type:datetime_immutable)', delivered_at DATETIME DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)', INDEX IDX_75EA56E0FB7336F0 (queue_name), INDEX IDX_75EA56E0E3BD61CE (available_at), INDEX IDX_75EA56E016BA31DB (delivered_at), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
ALTER TABLE secteur_entreprise_profile ADD CONSTRAINT FK_85014EED9F7E4405 FOREIGN KEY (secteur_id) REFERENCES secteur (id) ON DELETE CASCADE;
ALTER TABLE secteur_entreprise_profile ADD CONSTRAINT FK_85014EED636D8953 FOREIGN KEY (entreprise_profile_id) REFERENCES entreprise_profile (id) ON DELETE CASCADE;
ALTER TABLE job_listing ADD CONSTRAINT FK_51EFFF4FA4AEAFEA FOREIGN KEY (entreprise_id) REFERENCES entreprise_profile (id);
ALTER TABLE job_listing ADD CONSTRAINT FK_51EFFF4F9F7E4405 FOREIGN KEY (secteur_id) REFERENCES secteur (id);
ALTER TABLE job_listing_competences ADD CONSTRAINT FK_7E917DD2BE160D07 FOREIGN KEY (job_listing_id) REFERENCES job_listing (id) ON DELETE CASCADE;
ALTER TABLE job_listing_competences ADD CONSTRAINT FK_7E917DD2A660B158 FOREIGN KEY (competences_id) REFERENCES competences (id) ON DELETE CASCADE;
ALTER TABLE job_listing_langue ADD CONSTRAINT FK_E5D60498BE160D07 FOREIGN KEY (job_listing_id) REFERENCES job_listing (id) ON DELETE CASCADE;
ALTER TABLE job_listing_langue ADD CONSTRAINT FK_E5D604982AADBACD FOREIGN KEY (langue_id) REFERENCES langue (id) ON DELETE CASCADE;
ALTER TABLE entreprise_profile ADD CONSTRAINT FK_39B319BCA4AEAFEA FOREIGN KEY (entreprise_id) REFERENCES `user` (id);
ALTER TABLE candidate_profile ADD CONSTRAINT FK_E8607AE8D0EB82 FOREIGN KEY (candidat_id) REFERENCES `user` (id);
ALTER TABLE candidate_profile_secteur ADD CONSTRAINT FK_F9B446F6FE3D0586 FOREIGN KEY (candidate_profile_id) REFERENCES candidate_profile (id) ON DELETE CASCADE;
ALTER TABLE candidate_profile_secteur ADD CONSTRAINT FK_F9B446F69F7E4405 FOREIGN KEY (secteur_id) REFERENCES secteur (id) ON DELETE CASCADE;
ALTER TABLE applications ADD CONSTRAINT FK_F7C966F08D0EB82 FOREIGN KEY (candidat_id) REFERENCES candidate_profile (id);
ALTER TABLE applications ADD CONSTRAINT FK_F7C966F0BE160D07 FOREIGN KEY (job_listing_id) REFERENCES job_listing (id);
ALTER TABLE applications ADD CONSTRAINT FK_F7C966F08805AB2F FOREIGN KEY (annonce_id) REFERENCES job_listing (id);
ALTER TABLE metting ADD CONSTRAINT FK_A8955F0BA4AEAFEA FOREIGN KEY (entreprise_id) REFERENCES entreprise_profile (id);
ALTER TABLE metting ADD CONSTRAINT FK_A8955F0B8D0EB82 FOREIGN KEY (candidat_id) REFERENCES candidate_profile (id);
ALTER TABLE metting ADD CONSTRAINT FK_A8955F0B20A01F78 FOREIGN KEY (moderateur_id) REFERENCES moderateur_profile (id);
ALTER TABLE competences_candidate_profile ADD CONSTRAINT FK_821B4E14A660B158 FOREIGN KEY (competences_id) REFERENCES competences (id) ON DELETE CASCADE;
ALTER TABLE competences_candidate_profile ADD CONSTRAINT FK_821B4E14FE3D0586 FOREIGN KEY (candidate_profile_id) REFERENCES candidate_profile (id) ON DELETE CASCADE;
ALTER TABLE experiences ADD CONSTRAINT FK_82020E70275ED078 FOREIGN KEY (profil_id) REFERENCES candidate_profile (id);
ALTER TABLE langages ADD CONSTRAINT FK_C9CF1A1CCCFA12B8 FOREIGN KEY (profile_id) REFERENCES candidate_profile (id);
ALTER TABLE langages ADD CONSTRAINT FK_C9CF1A1C2AADBACD FOREIGN KEY (langue_id) REFERENCES langue (id);
ALTER TABLE social ADD CONSTRAINT FK_7161E1878D0EB82 FOREIGN KEY (candidat_id) REFERENCES candidate_profile (id);
ALTER TABLE moderateur_profile ADD CONSTRAINT FK_DA76531320A01F78 FOREIGN KEY (moderateur_id) REFERENCES `user` (id);
ALTER TABLE notification ADD CONSTRAINT FK_BF5476CA10335F61 FOREIGN KEY (expediteur_id) REFERENCES `user` (id);
ALTER TABLE notification ADD CONSTRAINT FK_BF5476CAA4F84F6E FOREIGN KEY (destinataire_id) REFERENCES `user` (id);
ALTER TABLE search_history ADD CONSTRAINT FK_AA6B9FD1A76ED395 FOREIGN KEY (user_id) REFERENCES `user` (id);
ALTER TABLE annonce_vues ADD CONSTRAINT FK_D6D9E91D8805AB2F FOREIGN KEY (annonce_id) REFERENCES job_listing (id);
