{% extends 'dashboard/base_new.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
<div class="container">
    <div class="annonce-list p-2">
        <div class="annonce-item shadow p-md-5 m-md-4">

        </div>
    </div>
</div>

{% endblock %}
{% block inner_footer %}{% include "dashboard/_inner_footer.html.twig" %}{% endblock %}