<section id="video" class="my-5" style="background-color: black;">
	<div class="container-fluid my-5 d-flex flex-column justify-content-center">
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-md-12">
                    <video width="100%" controls autoplay muted loop>
                        <source src="{{ asset('/video/olona-talents.mp4') }}" type="video/mp4">
                        Votre navigateur ne supporte pas la balise vidéo.
                    </video>
                </div>
            </div>
        </div>
	</div>
</section>

