{% extends 'base_v21.html.twig' %}

{% block title %}Premium | Olona Talents{% endblock %}

{% block meta %}
    {{ parent() }}
{% endblock %}

{% block body %}

<section class="d-flex justify-content-center">
    <div class="container py-5">
        <div class="row mx-auto justify-content-center">
            <h1 class="fs-2 text-center mb-4">Maximisez votre potentiel de carrière</h1>
            <h2 class="fs-5 text-center mb-4">Profitez d'un soutien inégalé pour votre recherche d'emploi avec notre adhésion VIP à tarif fixe.</h2>
        </div>
        <div class="row ">
            <div class="col-12 col-sm-8 ">
                <p class="fw-lighter fs-5 p-3">
                    Chez Olona Talents, nous croyons en un accompagnement complet de votre parcours professionnel. Nos services sont conçus pour vous offrir les meilleures chances de décrocher votre emploi de rêve tout en maintenant une transparence totale.
                </p>
                <h2 class="fs-2 text-center mb-4">Qu'est-ce qui est inclus ? Absolument tout.</h2>
                <div class="row ">
                    <div class="col-12 col-sm-6 ">
                        <h3 class="fs-5 text-center mb-4">Présentation Professionnelle de Votre Profil</h3>

                        <ul class="">
                            <li class="list-group-item mx-3">
                                <div class="row mb-3">
                                    <div class="col-1">
                                        <i class="bi bi-check h5 text-danger"></i>
                                    </div>
                                    <div class="col-11">
                                        Analyse avancée de votre CV par notre IA spécialisée dans le recrutement
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item mx-3">
                                <div class="row mb-3">
                                    <div class="col-1">
                                        <i class="bi bi-check h5 text-danger"></i>
                                    </div>
                                    <div class="col-11">
                                        Mise en avant de vos points forts
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item mx-3">
                                <div class="row mb-3">
                                    <div class="col-1">
                                        <i class="bi bi-check h5 text-danger"></i>
                                    </div>
                                    <div class="col-11">
                                        Optimisation de votre profil pour le moteur de recherche Olona Talents
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item mx-3">
                                <div class="row mb-3">
                                    <div class="col-1">
                                        <i class="bi bi-check h5 text-danger"></i>
                                    </div>
                                    <div class="col-11">
                                        Espace dédié à la vidéo de présentation
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item mx-3">
                                <div class="row mb-3">
                                    <div class="col-1">
                                        <i class="bi bi-check h5 text-danger"></i>
                                    </div>
                                    <div class="col-11">
                                        Distinction visuelle avec validation d'Olona Talents
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <h3 class="fs-5 text-center mb-4 mt-5">Accès Illimité à Olona Talents</h3>
                        <ul class="">
                            <li class="list-group-item mx-3">
                                <div class="row mb-3">
                                    <div class="col-1">
                                        <i class="bi bi-check h5 text-danger"></i>
                                    </div>
                                    <div class="col-11">
                                        Accès direct aux contacts des recruteurs des entreprises
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item mx-3">
                                <div class="row mb-3">
                                    <div class="col-1">
                                        <i class="bi bi-check h5 text-danger"></i>
                                    </div>
                                    <div class="col-11">
                                        Candidatures illimitées
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item mx-3">
                                <div class="row mb-3">
                                    <div class="col-1">
                                        <i class="bi bi-check h5 text-danger"></i>
                                    </div>
                                    <div class="col-11">
                                        Peut faire appel à un chargé de recrutement dédié chez Olona Talents*
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="col-12 col-sm-6">
                        <h3 class="fs-5 text-center mb-4">Accès aux Services de Gestion des Contrats*</h3>
                        <ul class="">
                            <li class="list-group-item mx-3">
                                <div class="row mb-3">
                                    <div class="col-1">
                                        <i class="bi bi-check h5 text-danger"></i>
                                    </div>
                                    <div class="col-11">
                                        Rédaction des contrats client
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item mx-3">
                                <div class="row mb-3">
                                    <div class="col-1">
                                        <i class="bi bi-check h5 text-danger"></i>
                                    </div>
                                    <div class="col-11">
                                        Facturation et gestion des paiements
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item mx-3">
                                <div class="row mb-3">
                                    <div class="col-1">
                                        <i class="bi bi-check h5 text-danger"></i>
                                    </div>
                                    <div class="col-11">
                                        Services de recouvrement (relance par email et téléphone)
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <h3 class="fs-5 text-center mb-4 mt-5">Accès à des services supplémentaires*</h3>
                        <ul class="">
                            <li class="list-group-item mx-3">
                                <div class="row mb-3">
                                    <div class="col-1">
                                        <i class="bi bi-check h5 text-danger"></i>
                                    </div>
                                    <div class="col-11">
                                        Boost de Visibilité
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item mx-3">
                                <div class="row mb-3">
                                    <div class="col-1">
                                        <i class="bi bi-check h5 text-danger"></i>
                                    </div>
                                    <div class="col-11">
                                        Portage salarial
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item mx-3">
                                <div class="row mb-3">
                                    <div class="col-1">
                                        <i class="bi bi-check h5 text-danger"></i>
                                    </div>
                                    <div class="col-11">
                                        Cooptation
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item mx-3">
                                <div class="row mb-3">
                                    <div class="col-1">
                                        <i class="bi bi-check h5 text-danger"></i>
                                    </div>
                                    <div class="col-11">
                                        Accès aux espaces de coworking
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="mx-auto border rounded-4 shadow-custom">
                <div class="py-2 py-sm-3 px-1 px-sm-3">
                  <div class="py-3 py-sm-5">
                    <h6 class="text-center"> Adhésion VIP à </h6>
                    <p class="fs-1 fw-bold text-center text-primary">25.000<span
                        style="font-size: 2.25rem;">Ar/an</span>
                    </p>
                    <div class="text-center">
                        <button type="button" class="text-center mx-auto my-3 my-sm-4 btn btn-primary rounded-pill px-2 px-sm-3">
                        Devenez un Membre VIP aujourd'hui 
                        </button>
                    </div>
                    <p class="text-center"> Sans engagement - Inscription en quelques clics.</p>
                    <h4 class="text-center">ou</h4>
                    <h3 class="fs-5 text-center mb-4 text-center"> Rejoignez-nous en tant que visiteur</h3>
                        <ul class="">
                            <li class="list-group-item mx-2">
                                <div class="row mb-3">
                                    <div class="col-1">
                                        <i class="bi bi-check h5 text-danger"></i>
                                    </div>
                                    <div class="col-11">
                                        Accès direct aux contacts des recruteurs des entreprises
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item mx-2">
                                <div class="row mb-3">
                                    <div class="col-1">
                                        <i class="bi bi-check h5 text-danger"></i>
                                    </div>
                                    <div class="col-11">
                                        Candidatures illimitées
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item mx-2">
                                <div class="row mb-3">
                                    <div class="col-1">
                                        <i class="bi bi-check h5 text-danger"></i>
                                    </div>
                                    <div class="col-11">
                                        Peut faire appel à un chargé de recrutement dédié chez Olona Talents*
                                    </div>
                                </div>
                            </li>
                        </ul>

                    <div class="text-center">
                        <a href="{{ path('app_olona_talents_register')}}" class="text-center mx-auto my-3 my-sm-5">
                            Créer un compte visiteur
                        </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}