{% extends 'dashboard/base.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Notifications</h1>

        <div class="row">
            <div class="col-md-4">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-body">
                        <h2 class="card-title">{{ notifications|length }}</h2>
                        <p class="card-text">Notifications reçues</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
        {% if notifications|length > 0 %}

        <table class="table">
        <thead>
            <tr>
                <th>Contenu</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for notification in notifications %}
            <tr>
                <td>{{ notification.contenu }}</td>
                <td>
                    <div class="d-flex">
                        <a class="btn btn-sm btn-warning rounded-pill" href="#"><i class="bi bi-eye"></i></a>
                        <a class="btn btn-sm btn-warning rounded-pill" href="#"><i class="bi bi-pencil"></i></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Aucune notification.
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}