{% extends 'dashboard/base.html.twig' %}

{% block title %}Mes rendez-vous{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Mes rendez-vous</h1>

        <div class="row">
        </div>
    </div>
{% endblock %}