
                <div class="d-flex flex-column flex-shrink-0 p-3 position-sticky top-0">
					<h3 class="fs-5 fw-bolder mt-3 mt-sm-5 text-center">
						<span class="u-file-icon u-icon">
							<img src="{{ asset('v2/images/3221746.png')}}" alt="icone" style="width:32px;">
						</span>
						Conseils pour Compléter Votre Profil
					</h3>
					<ul class="col-12 mx-auto">
						<li class="list-group-item mx-2">
							<div class="row mb-3">
								<div class="col-1">
									<i class="bi bi-check h5 text-danger"></i>
								</div>
								<div class="col-11">
									Prenez votre temps pour corrigez chaque section de manière détaillée et précise.
								</div>
							</div>
						</li>
						<li class="list-group-item mx-2">
							<div class="row mb-3">
								<div class="col-1">
									<i class="bi bi-check h5 text-danger"></i>
								</div>
								<div class="col-11">
									Relisez votre profil avant de le soumettre pour éviter les erreurs.
								</div>
							</div>
						</li>
						<li class="list-group-item mx-2">
							<div class="row mb-3">
								<div class="col-1">
									<i class="bi bi-check h5 text-danger"></i>
								</div>
								<div class="col-11">
									Les modifications que vous apporterez seront soumis aux modérateurs pour validation.
								</div>
							</div>
						</li>
					</ul>
				</div>