@import 'styles.scss';
@import 'home.scss';

#blog-post {
    background: #f7f3ff;
    padding: 80px 0;
    .sidebar {
        background-color: $white;
        border: 1px solid #dfd2fa;
        padding: 30px;
        border-radius: 10px;
        margin-left: 5rem;
        @include breakpoint-991{
            margin-bottom: 30px;
        }
        @include breakpoint-575{
            padding: 15px;
        }
        .sidebar-ele-filter {
            margin: 0;
            h4 {
                padding-bottom: 1rem;
                border-bottom: 1px solid;
                color: $black;
            }
        }
        .about_article {
            margin-bottom: 2rem;
        }
    }
    .pagination_ {
        text-align: center;
        padding-top: 2rem;
        .pagination {
            justify-content: center;
        }
    }
    .liste_article {
        border-bottom: 1px solid #dfd2fa;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
    }
    .bg-article-blog {
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #ffffff;
        background-position: center;
        position: relative;
        .datePosted {
            background-color: $red-primary;
            color: $white;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 60px;
            height: 60px;
            font-size: 18px;
            text-align: center;
            line-height: 130%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .blog-post {
        h2 {
            font-size: 24px;
            font-weight: 600;
        }
        .blog-content {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            text-overflow: ellipsis;
            .blog-post-meta {
                text-align: right;
                font-size: 12px;
                color: black;
                margin-bottom: 0;
                margin-top: 1rem;
            }
        }
    }
    .detail_article {
        color: $black;
        .img_detail_article {
            margin-bottom: 1rem;
            img {
                display: block;
                width: 100%;
            }
        }
    }
}