@import 'styles.scss';
@import 'home.scss';

.text-espace {
    h2 {
        color: #185d36;
        font-size: bolder;
    }
}
#base-coworking {
    section {
        .btn-primary {
            padding: 15px 35px;
            background-color: #185d36 !important;
            border-color: #185d36 !important;
            &:hover {
                background-color: #2a9b5b !important;
                border-color: #2a9b5b !important;
            }
        }
        .btn-outline-secondary {
            padding: 15px 35px;
            border-color: #185d36 !important;
            color: #185d36 !important;
            &:hover {
                background-color: #2a9b5b !important;
                border-color: #2a9b5b !important;
                color: $white !important;
            }
        }
        #reservationForm {
            .btn-primary {
                background-color: $yelow-primary !important;
                border-color: $yelow-primary !important;
                color: $black !important;
                &:hover {
                    background-color: #2a9b5b !important;
                    border-color: #2a9b5b !important;
                    color: $white !important;
                }
            }
        }
    }
}
.presentation_bureau {
    color: #212529;
    padding: 70px 0 80px;
    h2 {
        color: #185d36;
        max-width: 40%;
        flex: 0 0 40%;
    }
    p {
        padding-left: 5rem;
    }
    .card_ {
        margin: 15px 0;
        img {
            border-radius: 15px;
        }
        .card-text_ {
            padding: 0;
            text-align: center;
            margin-top: 1rem;
            font-weight: bold;
            font-size: 22px;
            color: #185d36;
        }
    }
}
.figure-espace {
    overflow: hidden;
    border-radius: 20px;
    height: 100%;
    img {
        height: 100%;
        object-fit: cover;
    }
}
#base-coworking {
    .title-light {
        font-size: 46px !important;
    }
    .mid-section {
       .btn-signUp {
            text-align: center !important;
        } 
    }   
    .card {
        border: none !important;
        position: relative;
        border-radius: 25px;
        min-height: 300px;
        margin-bottom: 30px;
        padding: 32px;
        text-align: left;
        background-color: #185d36;
        --flex-direction: column;
        --flex-basis: auto;
        --flex-grow: 0;
        --flex-shrink: 1;
        flex: var(--flex-grow) var(--flex-shrink) var(--flex-basis);
        color: $white;
        .card-head {
            img {
                filter: invert(1);
            }
        }
        .card-middle {
            h3 {
                color: $white;
                font-size: 24px;
            }
        }
    }
}
.choisir-notre-espace,
.vister_notre_espace {
    background: #f3ecdc;
    padding: 80px 0;
}
.reservation_espace {
    background-color: #185d36;
    padding: 80px 0;
    color: $white;
    position: relative;
    overflow: hidden;
    .bg-imgCoworking {
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        left: 0;
        top: 5rem;
        height: 100%;
        width: 53%;
        border-radius: 0 100px 0 0;
    }
    h2 {
        color: $yelow-primary;
    }
    #reservationForm {
        .form-control,
        .form-select {
            background-color: #66b689;
            border-color: transparent;
            border-radius: 0;
            padding: 15px 15px;
            transition: all .3s ease;
            &:focus {
                border-color: $yelow-primary;
                outline: 0;
                box-shadow: none !important;
            }
        }
    }
}
#base-coworking {
    .blocks-wrap {
        margin-bottom: .7rem;
        .btn-social-item {
            background-color: transparent !important;
            &:hover {
                background-color: transparent !important;
                text-decoration: none !important;
            }
            i {
                color: $white;
                font-size: 30px;
                transition: all .4s ease;
                opacity: .5;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    
    .place_dispo {
        padding: 80px 0;
        color: #212529;
        .title_item {
            padding-right: 20rem;
            h2 {
                color:#185d36;
            }
        }
        #liveDateTime {
            border: 3px solid $yelow-primary;
            margin-top: 1rem;
            padding: 7px 15px;
            font-size: 22px;
        }
        .list-group-item-action {
            h4 {
                color: #185d36;
            }
            p {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 6;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .list-group {
            a {
                height: 100%;
                border-radius: 15px;
                transition: all .4s ease;
                &:hover {
                    background-color: $white;
                    box-shadow: var(--bs-box-shadow-lg) !important;
                }
            }
        }
       .time_right {
            min-width: 460px;
            flex: 0 0 460px;
       } 
        #menuTabs {
            margin-top: 3rem;
        }
        a.nav-link {
            color: $black !important;
            border: 1px solid;
            margin: 0 5px;
            transition: all .3s ease;
            text-shadow: none !important;
            &.active,
            &:hover {
                border-bottom: inherit !important;
                border-color: $yelow-primary !important;
                color: $black !important;
                background-color: $yelow-primary;
            }
        }
        .tab-content {
            padding-top: 35px;
            .bloc-tab_ {
                h3 {
                    color: #185d36;
                }
            }
            .btn-primary {
                padding-top: 7px;
                padding-bottom: 7px;
                margin-top: 0 !important;
            }
        }
        .imgSpaceBlock {
            display: block;
            margin-bottom: 1rem;
            height: 200px;
            overflow: hidden;
            border-radius: 15px;
            background-color: #f7f7f7;
            margin-top: 10px;
            .img-fluid {
                width: 100%;
            }
        }
        &.place_dispo_user {
            background: #f3ecdc;
            .imgSpaceBlock {
                display: flex;
                margin-bottom: 0;
                height: auto;
                margin-top: 0;
                width: 250px;
                flex: 0 0 250px;
            }
            .list-group {
                a {
                    margin: 15px 0;
                }
            }
            .satistique_right {
                background: #f0b722;
            }
            .card_right {
                border: 2px solid #185d36;
                margin: 10px 0;
                h4 {
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    color: #124729;
                }
            }
        }
    }
}
#base-coworking .footer-light {
    color: $white;
    background-color: #212529 !important;
    .title {
        color: $yelow-primary;
        &:before {
            background-color: $white;
        }
    }
    .footer-top {
        border-bottom-color: rgb(233 231 231 / 30%);
    }
    .footer-bottom .footer-copy-right .copyrights-text {
        color: $white;
    }
}
.vister_notre_espace {
    h2 {
        color: #185d36;
        margin-bottom: 35px;
    }
    .block_contactForm {
        background-color: $white;
        .block_contact_ {
            padding: 40px;
            #contactForm {
                border-top: 1px solid #ddd;
                padding-top: 25px;
                margin-top: 27px;
                h3 {
                    color: #185d36;
                }
                .form-control {
                    background-color: #f3f3f3;
                    border-color: transparent;
                    border-radius: 0;
                    padding: 10px 15px;
                    transition: all .3s ease;
                    &:focus {
                        border-color: #185d36;
                        outline: 0;
                        box-shadow: none !important;
                    }
                }
            }
        }
    }
}

.box-reservation {
    border: 1px solid #c8e1d2;
    padding: 20px;
    margin: 15px 0;
    text-align: center;
    background: #f5fff9;
    border-radius: 7px;
    h5 {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        color: #185d36;
    }
}
