@import 'styles.scss';

.login-wrap {
    position: relative;
    display: table;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    .bg-mask {
        background-color: $purple-primary;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    .login-header {
        position: absolute;
        width: 100%;
        top: 0;
        .img-fluid {
            width: 200px;
            height: 56px;
            object-fit: contain;
        }
        .sign-up_ {
            color: white;
            font-weight: 300;
            font-size: 14px;
            text-align: right;
            a {
                font-size: 17px;
                text-decoration: underline !important;
            }
        }
    }
    .login-content {
        padding-top: 160px;
        padding-bottom: 80px;
        display: flex;
        height: 100%;
        align-items: center;
        .login-left-block {
            color: $white;
            h1 {
                font-size: 60px;
                margin-bottom: 2rem;
                font-weight: 100;
                line-height: 70px;
                max-width: 75%;
                span {
                    color: $yelow-primary;
                    font-weight: 500;
                }
            }
            .features_list_ {
                list-style: none;
                padding-left: 0;
                margin: 0;
                li {
                    display: inline-block;
                    margin-right: 15px;
                    margin-bottom: 15px;
                    a {
                        display: block;
                        padding: 10px 15px;
                        border: 3px solid;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        transition: all .3s ease;
                    }
                    &:nth-child(1) {
                        a {
                            border-color: $red-light;
                            &:hover {
                                background-color: $red-light;
                            }
                        }
                    }
                    &:nth-child(2) {
                        a {
                            border-color: $yelow-primary;
                            &:hover {
                                background-color: $yelow-primary;
                            }
                        }
                    }
                    &:nth-child(3) {
                        a {
                            border-color: $green-light;
                            &:hover {
                                background-color: $green-light;
                            }
                        }
                    }
                    &:nth-child(4) {
                        a {
                            border-color: $orange-primary;
                            &:hover {
                                background-color: $orange-primary;
                            }
                        }
                    }
                    &:nth-child(5) {
                        a {
                            border-color: $blue-light;
                            &:hover {
                                background-color: $blue-light;
                            }
                        }
                    }
                    .link-disabled {
                        pointer-events: none;
                        cursor: not-allowed;
                    }
                }
            }
        }
        .card {
            .card-body {
                box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
                .form-floating {
                    >.form-control {
                        padding-left: 0 !important;
                        border-radius: 0;
                        border: 0;
                        border-bottom: var(--bs-border-width) solid var(--bs-border-color);
                        &:focus {
                            box-shadow: none;
                            border-bottom-color: $purple-light;
                        }
                    }
                    >label {
                        padding-left: 0 !important;
                    }
                }
                #register-submit {
                    width: 100%;
                }
                .btn-login {
                    background-color: $purple-light;
                    display: block;
                    width: 100%;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
                    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
                    -webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                    color: $white;
                    padding-top: 15px !important;
                    padding-bottom: 15px !important;
                    &:hover {
                        background-color: $purple-primary;
                        -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
                        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
                        -webkit-transition: all 0.5s ease;
                        transition: all 0.5s ease;
                    }
                }
                .text-forgot {
                    a {
                        text-decoration: underline !important;
                        color: $red-primary !important;
                    }
                }
                .social-login_  {
                    .btn {
                        border-radius: .25rem;
                        display: block;
                        height: 38px;
                        line-height: 14px;
                        padding: 10px;
                        width: 38px;
                        font-size: 18px;
                        text-align: center;
                        -webkit-transition: all 0.2s ease;
                        transition: all 0.2s ease;
                        &:hover {
                            opacity: 0.8;
                        }
                        &.btn-google {
                            background-color: #DB4437;
                        }
                        &.btn-fb {
                            background-color: #1874eb;
                        }
                    }
                }
                .form-check-inline {
                    padding-left: 0;
                    margin-right: 0;
                    line-height: 130%;
                    font-size: 12px;
                }
            }
        }
    }
    .container {
        position: relative;
        .login-sign-up {
            color: $white;
        }
    }
}