@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'media_q.scss';
body {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    letter-spacing: .4px;
    color: #767474;
}
.login_home {
    color: $white !important;
    text-decoration: none !important;
    &:hover {
        text-decoration: underline !important;
    }
}
$white: #ffffff;
$black: #000000;

$red-light: #ff3130;
$red-primary: #bc3636;
$yelow-primary: #f0b722;
$orange-primary: #f6882d;
$green-light: #3e9d66;
$green-primary: #008037;
$purple-light: #704fb6;
$purple-primary: #54309c;
$brown-light: #af6f09;
$brown-primary: #7d5412;
$blue-light: #324ef4;
$blue-primary: #3b5998;

.article-item_ {
    .aside-left-item_ {
        a {
            display: block;
            width: 125px;
            height: 125px;
            background-color: #f5f5f5;
            border-radius: 100%;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }
}
.nav-top-right {
    .nav-list-top {
        display: table;
        margin-bottom: 0;
        .nav-item-top {
            display: table-cell;
            vertical-align: middle;
            padding: 0 5px;
            &.nav_coworking {
                .nav--link {
                    background:$yelow-primary;
                    color: $black !important;
                    transition: all .3s ease;
                    &:hover {
                        background-color: $white !important;
                        color: $black !important;
                    }
                }
            }
            &.nav_blog {
                .nav--link {
                    background:$red-primary;
                    transition: all .3s ease;
                    &:hover {
                        background-color: $white !important;
                        color: $black !important;
                    }
                }
            }
            .nav--link {
                color: $white !important;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-weight: 300;
                padding: 7px 10px;
                border-radius: 3px;
            }
        }
    }
}
.right-top-login {
    .btn-primary {
        background-color: transparent !important;
        &:hover {
            background-color: transparent !important;
            text-decoration: none !important;
            color: $yelow-primary !important;
        }
    }
}
.home-header-top {
    .login_home {
        background-color: transparent !important;
        &:hover {
            background-color: transparent !important;
            text-decoration: none !important;
            color: $yelow-primary !important;
        }
    }
}
