@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    letter-spacing: .4px;
    color: #767474;
}
$white: #ffffff;
$black: #000000;

$red-light: #ff3130;
$red-primary: #bc3636;
$yelow-primary: #f0b722;
$orange-primary: #f6882d;
$green-light: #3e9d66;
$green-primary: #008037;
$purple-light: #704fb6;
$purple-primary: #54309c;
$brown-light: #af6f09;
$brown-primary: #7d5412;
$blue-light: #324ef4;
$blue-primary: #3b5998;