{% extends 'dashboard/base.html.twig' %}

{% block title %}Mes infos coopteur{% endblock %}

{% block body %}
<div class="container">
    <div class="annonce-list p-2">
        <div class="annonce-item shadow p-md-5 m-md-4 row">
            <div class="col">
                <h1 class="card-title mb-4">Mes infos</h1>
            </div>
            <div class="col-auto">
                <!-- Contenu du div flottant à droite -->
                <div class="float-right">Contenu flottant à droite</div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
