<form method="post" action="{{ path('app_ajax_update_competence', {'id': competence.id })}}">
<div class="card shadow p-5 bg-light">
<div class="row">
    <div class="mb-3 col">
        <label for="competence_nom">Nom de la compétence</label>
        <input type="text" id="competence_nom" name="nom" class="form-control" value="{{ competence.nom ?? '' }}">
    </div>
    <div class="mb-3 col">
        <label for="competence_note">Niveau de compétence</label>
        <select id="competence_note" name="note" class="form-control">
            <option value="1" {% if competence.note == 1 %}selected{% endif %}>1</option>
            <option value="2" {% if competence.note == 2 %}selected{% endif %}>2</option>
            <option value="3" {% if competence.note == 3 %}selected{% endif %}>3</option>
            <option value="4" {% if competence.note == 4 %}selected{% endif %}>4</option>
            <option value="5" {% if competence.note == 5 %}selected{% endif %}>5</option>
        </select>
    </div>
</div>
<div class="mb-3">
    <label for="competence_description">Description de la compétence</label>
    <textarea id="competence_description" name="description" class="form-control ckeditor-textarea" rows="6">{{ competence.description ?? '' }}</textarea>
</div>
</div>
<button type="submit" class="btn btn-info rounded-pill btn-sm">Soumettre</button>
<button type="button" class="btn btn-outline-dark rounded-pill my-3 btn-sm cancel-competence">Annuler</button>
</form>

<script>
ClassicEditor.create(document.querySelector('#competence_description'));
</script>
