{% extends 'dashboard/base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Mon compte</h1>

        <div class="row">
            <hr class="my-4">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="d-flex justify-content-center mb-5 mt-4">
                <button type="submit" id="get_started" class="btn btn-primary">
                    {{ 'app_identity_company.button'|trans }}
                </button>
            </div>
            {{ form_end(form) }}

        </div>

        </div>
    </div>
{% endblock %}