{% extends 'dashboard/base.html.twig' %}

{% block body %}

<div class="container mt-3">
    <div class="row text-dark">
        <p>
            Retrouvez à tout moment vos candidatures en cours, le suivi de leur statut, ainsi que l’historique des offres auxquelles vous avez postulées. Les candidatures archivées regroupent vos candidatures sur des offres expirées.
        </p>
        
        <hr>
        <div id="annonces-container">
            {# {% include 'dashboard/candidat/annonces/_annonces.html.twig' %} #}
        </div>
    </div>
</div>

{{ dump(applications) }}
{% endblock %}
