// assets/styles/app.scss
// Import Bootstrap functions and variables
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "light-theme";
@import "dark-theme";

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none !important;
    font-family: 'Roboto', sans-serif;
    color: inherit !important;
}

a:hover {
    text-decoration: none !important;
}

.underline {
    text-decoration: underline!important;
}

.switch-theme-button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.fixed-top {
  right: 10px;
  top: 10px;
  z-index: 1000;
}

.fixed-top .btn {
  margin-right: 10px;
}

// Styles pour Tagify
.tagify__input {
    flex-grow: 1;
    display: inline-block;
    min-width: auto !important;
    margin: 0px !important;
    padding: 0px !important;
    line-height: normal;
    position: relative;
    white-space: pre-wrap;
    box-sizing: inherit;
    overflow: hidden;
}

.no-list-style {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.no-list-style li {
    padding: 0.5rem 0; 
}

.experience-form {
    margin-top: 1rem;
}

.experience-form .form-control {
    margin-bottom: 1rem;
}

.experience-form .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.experience-form .row > .experience-field {
    width: 100%;
}

.experience-form .my-2 {
    margin: .5rem 0;
}

.experience-form {
    margin-top: 1rem; /* Marges extérieures */
}


/* Cible uniquement les premiers fieldset enfants directs sous .experience-form */
.experience-form fieldset {
    margin-bottom: 1.5rem; /* Marge extérieure */
    background: inherit; /* Arrière-plan hérité */
    border: 2px solid #ddd; /* Bordure */
    border-radius: 10px; /* Bordures arrondies */
    padding: 1rem; /* Espacement intérieur */
}
// @import 'css/form.scss';
// @import 'css/variables.scss';
// @import 'css/radio.scss';
// @import 'css/media-queries.scss';
// @import 'css/navbar.scss';
// @import 'css/body.scss';
@import 'css/sections.scss';
// @import 'css/perso.scss';
// @import 'css/profile.scss';
