.u-section-1 .u-sheet-1 {
    min-height: 69px;
  }
  
  .u-section-1 .u-group-1 {
    width: 800px;
    min-height: 36px;
    height: auto;
    margin: 13px auto 20px 0;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .u-section-1 .u-text-1 {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .u-section-1 .u-text-2 {
    margin: -25px auto 0 68px;
  }
  
  .u-section-1 .u-text-3 {
    margin: -25px auto 0 215px;
  }
  
  .u-section-1 .u-text-4 {
    margin: -25px auto 0 320px;
  }
  
  .u-section-1 .u-text-5 {
    margin: -25px 220px 0 auto;
  }
  
  .u-section-1 .u-text-6 {
    margin: -25px 160px 0 auto;
  }
  
  .u-section-1 .u-line-1 {
    width: 592px;
    margin: 10px auto 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-group-1 {
      height: auto;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-group-1 {
      width: 720px;
    }
  
    .u-section-1 .u-text-4 {
      margin-left: 285px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-group-1 {
      width: 540px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-text-3 {
      margin-left: 169px;
    }
  
    .u-section-1 .u-text-4 {
      margin-left: 225px;
    }
  
    .u-section-1 .u-text-5 {
      margin-right: 173px;
    }
  
    .u-section-1 .u-line-1 {
      width: 520px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-group-1 {
      width: 340px;
    }
  
    .u-section-1 .u-text-3 {
      margin-left: 104px;
    }
  
    .u-section-1 .u-text-4 {
      margin-left: 138px;
    }
  
    .u-section-1 .u-text-5 {
      margin-right: 106px;
    }
  
    .u-section-1 .u-text-6 {
      margin-right: 98px;
    }
  
    .u-section-1 .u-line-1 {
      width: 320px;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 2176px;
  }
  
  .u-section-2 .u-layout-wrap-1 {
    width: 1140px;
    margin: 0 0 36px;
  }
  
  .u-section-2 .u-layout-cell-1 {
    min-height: 2140px;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 10px 30px;
  }
  
  .u-section-2 .u-text-1 {
    margin: 19px 464px 0 0;
  }
  
  .u-section-2 .u-list-1 {
    margin-top: 18px;
    margin-bottom: 0;
  }
  
  .u-section-2 .u-repeater-1 {
    grid-gap: 10px 10px;
    grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
    min-height: 277px;
  }
  
  .u-section-2 .u-list-item-1 {
    box-shadow: 5px 5px 20px 0 rgba(217,217,217,1);
  }
  
  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }
  
  .u-section-2 .u-icon-1 {
    width: 21px;
    height: 21px;
    margin: 0 auto 0 0;
    padding: 0;
  }
  
  .u-section-2 .u-image-1 {
    min-height: 60px;
    background-image: url("/images/8.png");
    background-position: 50% 50%;
    margin-top: -12px;
    margin-bottom: 0;
    height: auto;
  }
  
  .u-section-2 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-2 .u-text-2 {
    font-weight: 500;
    font-size: 0.75rem;
    margin: 9px 17px 0 16px;
  }
  
  .u-section-2 .u-text-3 {
    font-size: 0.75rem;
    line-height: 1.4;
    margin: 8px 17px 0 16px;
  }
  
  .u-section-2 .u-text-4 {
    font-size: 0.6875rem;
    margin: 7px 17px 0 16px;
  }
  
  .u-section-2 .u-text-5 {
    font-size: 0.6875rem;
    margin: 0 16px;
  }
  
  .u-section-2 .u-text-6 {
    font-size: 0.6875rem;
    margin: 0 17px 0 16px;
  }
  
  .u-section-2 .u-btn-1 {
    background-image: none;
    margin: 23px auto 0;
    padding: 0 10px;
  }
  
  .u-section-2 .u-list-item-2 {
    box-shadow: 5px 5px 20px 0 rgba(217,217,217,1);
  }
  
  .u-section-2 .u-container-layout-4 {
    padding: 0;
  }
  
  .u-section-2 .u-icon-6 {
    width: 21px;
    height: 21px;
    margin: 0 auto 0 0;
    padding: 0;
  }
  
  .u-section-2 .u-image-2 {
    min-height: 60px;
    background-image: url("/images/6.png");
    background-position: 50% 50%;
    margin-top: -12px;
    margin-bottom: 0;
    height: auto;
  }
  
  .u-section-2 .u-container-layout-5 {
    padding: 30px;
  }
  
  .u-section-2 .u-text-7 {
    font-weight: 500;
    font-size: 0.75rem;
    margin: 9px 17px 0 16px;
  }
  
  .u-section-2 .u-text-8 {
    font-size: 0.75rem;
    line-height: 1.4;
    margin: 8px 17px 0 16px;
  }
  
  .u-section-2 .u-text-9 {
    font-size: 0.6875rem;
    margin: 7px 17px 0 16px;
  }
  
  .u-section-2 .u-text-10 {
    font-size: 0.6875rem;
    margin: 0 16px;
  }
  
  .u-section-2 .u-text-11 {
    font-size: 0.6875rem;
    margin: 0 17px 0 16px;
  }
  
  .u-section-2 .u-btn-2 {
    background-image: none;
    margin: 23px auto 0;
    padding: 0 10px;
  }
  
  .u-section-2 .u-list-item-3 {
    box-shadow: 5px 5px 20px 0 rgba(217,217,217,1);
  }
  
  .u-section-2 .u-container-layout-6 {
    padding: 0;
  }
  
  .u-section-2 .u-icon-11 {
    width: 21px;
    height: 21px;
    margin: 0 auto 0 0;
    padding: 0;
  }
  
  .u-section-2 .u-image-3 {
    min-height: 60px;
    background-image: url("/images/4.png");
    background-position: 50% 50%;
    margin-top: -12px;
    margin-bottom: 0;
    height: auto;
  }
  
  .u-section-2 .u-container-layout-7 {
    padding: 30px;
  }
  
  .u-section-2 .u-text-12 {
    font-size: 0.75rem;
    line-height: 1.4;
    font-weight: 300;
    margin: 9px 17px 0 16px;
  }
  
  .u-section-2 .u-text-13 {
    font-size: 0.75rem;
    line-height: 1.4;
    margin: 8px 17px 0 16px;
  }
  
  .u-section-2 .u-text-14 {
    font-size: 0.6875rem;
    margin: 7px 17px 0 16px;
  }
  
  .u-section-2 .u-text-15 {
    font-size: 0.6875rem;
    margin: 0 16px;
  }
  
  .u-section-2 .u-text-16 {
    font-size: 0.6875rem;
    margin: 0 17px 0 16px;
  }
  
  .u-section-2 .u-btn-3 {
    background-image: none;
    margin: 23px auto 0;
    padding: 0 10px;
  }
  
  .u-section-2 .u-list-item-4 {
    box-shadow: 5px 5px 20px 0 rgba(217,217,217,1);
  }
  
  .u-section-2 .u-container-layout-8 {
    padding: 0;
  }
  
  .u-section-2 .u-icon-16 {
    width: 21px;
    height: 21px;
    margin: 0 auto 0 0;
    padding: 0;
  }
  
  .u-section-2 .u-image-4 {
    min-height: 60px;
    background-image: url("/images/2.png");
    background-position: 50% 50%;
    margin-top: -12px;
    margin-bottom: 0;
    height: auto;
  }
  
  .u-section-2 .u-container-layout-9 {
    padding: 30px;
  }
  
  .u-section-2 .u-text-17 {
    font-size: 0.6875rem;
    font-weight: 300;
    margin: 9px 17px 0 16px;
  }
  
  .u-section-2 .u-text-18 {
    font-size: 0.75rem;
    line-height: 1.4;
    margin: 8px 17px 0 16px;
  }
  
  .u-section-2 .u-text-19 {
    font-size: 0.6875rem;
    margin: 7px 17px 0 16px;
  }
  
  .u-section-2 .u-text-20 {
    font-size: 0.6875rem;
    margin: 0 16px;
  }
  
  .u-section-2 .u-text-21 {
    font-size: 0.6875rem;
    margin: 0 17px 0 16px;
  }
  
  .u-section-2 .u-btn-4 {
    background-image: none;
    margin: 23px auto 0;
    padding: 0 10px;
  }
  
  .u-section-2 .u-list-item-5 {
    box-shadow: 5px 5px 20px 0 rgba(217,217,217,1);
  }
  
  .u-section-2 .u-container-layout-10 {
    padding: 0;
  }
  
  .u-section-2 .u-icon-21 {
    width: 21px;
    height: 21px;
    margin: 0 auto 0 0;
    padding: 0;
  }
  
  .u-section-2 .u-image-5 {
    min-height: 60px;
    background-image: url("/images/7.png");
    background-position: 50% 50%;
    margin-top: -12px;
    margin-bottom: 0;
    height: auto;
  }
  
  .u-section-2 .u-container-layout-11 {
    padding: 30px;
  }
  
  .u-section-2 .u-text-22 {
    font-size: 0.6875rem;
    font-weight: 300;
    margin: 9px 17px 0 16px;
  }
  
  .u-section-2 .u-text-23 {
    font-size: 0.75rem;
    line-height: 1.4;
    margin: 8px 17px 0 16px;
  }
  
  .u-section-2 .u-text-24 {
    font-size: 0.6875rem;
    margin: 7px 17px 0 16px;
  }
  
  .u-section-2 .u-text-25 {
    font-size: 0.6875rem;
    margin: 0 16px;
  }
  
  .u-section-2 .u-text-26 {
    font-size: 0.6875rem;
    margin: 0 17px 0 16px;
  }
  
  .u-section-2 .u-btn-5 {
    background-image: none;
    margin: 23px auto 0;
    padding: 0 10px;
  }
  
  .u-section-2 .u-list-2 {
    margin: 16px 0 0;
  }
  
  .u-section-2 .u-repeater-2 {
    grid-gap: 10px 10px;
    grid-template-columns: 100%;
  }
  
  .u-section-2 .u-container-layout-12 {
    padding: 10px 0;
  }
  
  .u-section-2 .u-text-27 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 10px;
  }
  
  .u-section-2 .u-icon-26 {
    font-size: 2.4376em;
  }
  
  .u-section-2 .u-text-28 {
    margin: -42px auto 0 111px;
  }
  
  .u-section-2 .u-text-29 {
    margin: 20px 10px 0;
  }
  
  .u-section-2 .u-btn-6 {
    font-weight: 700;
    font-size: 0.9375rem;
    margin: 5px 225px 0 auto;
    padding: 0;
  }
  
  .u-section-2 .u-icon-27 {
    font-size: 0.7em;
  }
  
  .u-section-2 .u-text-30 {
    margin: -24px 10px 0;
  }
  
  .u-section-2 .u-text-31 {
    margin: -26px auto 0 135px;
  }
  
  .u-section-2 .u-text-32 {
    margin: -26px auto 0 280px;
  }
  
  .u-section-2 .u-container-layout-13 {
    padding: 10px 0;
  }
  
  .u-section-2 .u-text-33 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 10px;
  }
  
  .u-section-2 .u-icon-31 {
    font-size: 2.4376em;
  }
  
  .u-section-2 .u-text-34 {
    margin: -42px auto 0 111px;
  }
  
  .u-section-2 .u-text-35 {
    margin: 20px 10px 0;
  }
  
  .u-section-2 .u-btn-7 {
    font-weight: 700;
    font-size: 0.9375rem;
    margin: 5px 225px 0 auto;
    padding: 0;
  }
  
  .u-section-2 .u-icon-32 {
    font-size: 0.7em;
  }
  
  .u-section-2 .u-text-36 {
    margin: -24px 10px 0;
  }
  
  .u-section-2 .u-text-37 {
    margin: -26px auto 0 135px;
  }
  
  .u-section-2 .u-text-38 {
    margin: -26px auto 0 280px;
  }
  
  .u-section-2 .u-container-layout-14 {
    padding: 10px 0;
  }
  
  .u-section-2 .u-text-39 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 10px;
  }
  
  .u-section-2 .u-icon-36 {
    font-size: 2.4376em;
  }
  
  .u-section-2 .u-text-40 {
    margin: -42px auto 0 111px;
  }
  
  .u-section-2 .u-text-41 {
    margin: 20px 10px 0;
  }
  
  .u-section-2 .u-btn-8 {
    font-weight: 700;
    font-size: 0.9375rem;
    margin: 5px 225px 0 auto;
    padding: 0;
  }
  
  .u-section-2 .u-icon-37 {
    font-size: 0.7em;
  }
  
  .u-section-2 .u-text-42 {
    margin: -24px 10px 0;
  }
  
  .u-section-2 .u-text-43 {
    margin: -26px auto 0 135px;
  }
  
  .u-section-2 .u-text-44 {
    margin: -26px auto 0 280px;
  }
  
  .u-section-2 .u-container-layout-15 {
    padding: 10px 0;
  }
  
  .u-section-2 .u-text-45 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 10px;
  }
  
  .u-section-2 .u-icon-41 {
    font-size: 2.4376em;
  }
  
  .u-section-2 .u-text-46 {
    margin: -42px auto 0 111px;
  }
  
  .u-section-2 .u-text-47 {
    margin: 20px 10px 0;
  }
  
  .u-section-2 .u-btn-9 {
    font-weight: 700;
    font-size: 0.9375rem;
    margin: 5px 225px 0 auto;
    padding: 0;
  }
  
  .u-section-2 .u-icon-42 {
    font-size: 0.7em;
  }
  
  .u-section-2 .u-text-48 {
    margin: -24px 10px 0;
  }
  
  .u-section-2 .u-text-49 {
    margin: -26px auto 0 135px;
  }
  
  .u-section-2 .u-text-50 {
    margin: -26px auto 0 280px;
  }
  
  .u-section-2 .u-container-layout-16 {
    padding: 10px 0;
  }
  
  .u-section-2 .u-text-51 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 10px;
  }
  
  .u-section-2 .u-icon-46 {
    font-size: 2.4376em;
  }
  
  .u-section-2 .u-text-52 {
    margin: -42px auto 0 111px;
  }
  
  .u-section-2 .u-text-53 {
    margin: 20px 10px 0;
  }
  
  .u-section-2 .u-btn-10 {
    font-weight: 700;
    font-size: 0.9375rem;
    margin: 5px 225px 0 auto;
    padding: 0;
  }
  
  .u-section-2 .u-icon-47 {
    font-size: 0.7em;
  }
  
  .u-section-2 .u-text-54 {
    margin: -24px 10px 0;
  }
  
  .u-section-2 .u-text-55 {
    margin: -26px auto 0 135px;
  }
  
  .u-section-2 .u-text-56 {
    margin: -26px auto 0 280px;
  }
  
  .u-section-2 .u-container-layout-17 {
    padding: 10px 0;
  }
  
  .u-section-2 .u-text-57 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 10px;
  }
  
  .u-section-2 .u-icon-51 {
    font-size: 2.4376em;
  }
  
  .u-section-2 .u-text-58 {
    margin: -42px auto 0 111px;
  }
  
  .u-section-2 .u-text-59 {
    margin: 20px 10px 0;
  }
  
  .u-section-2 .u-btn-11 {
    font-weight: 700;
    font-size: 0.9375rem;
    margin: 5px 225px 0 auto;
    padding: 0;
  }
  
  .u-section-2 .u-icon-52 {
    font-size: 0.7em;
  }
  
  .u-section-2 .u-text-60 {
    margin: -24px 10px 0;
  }
  
  .u-section-2 .u-text-61 {
    margin: -26px auto 0 135px;
  }
  
  .u-section-2 .u-text-62 {
    margin: -26px auto 0 280px;
  }
  
  .u-section-2 .u-container-layout-18 {
    padding: 10px 0;
  }
  
  .u-section-2 .u-text-63 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 10px;
  }
  
  .u-section-2 .u-icon-56 {
    font-size: 2.4376em;
  }
  
  .u-section-2 .u-text-64 {
    margin: -42px auto 0 111px;
  }
  
  .u-section-2 .u-text-65 {
    margin: 20px 10px 0;
  }
  
  .u-section-2 .u-btn-12 {
    font-weight: 700;
    font-size: 0.9375rem;
    margin: 5px 225px 0 auto;
    padding: 0;
  }
  
  .u-section-2 .u-icon-57 {
    font-size: 0.7em;
  }
  
  .u-section-2 .u-text-66 {
    margin: -24px 10px 0;
  }
  
  .u-section-2 .u-text-67 {
    margin: -26px auto 0 135px;
  }
  
  .u-section-2 .u-text-68 {
    margin: -26px auto 0 280px;
  }
  
  .u-section-2 .u-container-layout-19 {
    padding: 10px 0;
  }
  
  .u-section-2 .u-text-69 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 10px;
  }
  
  .u-section-2 .u-icon-61 {
    font-size: 2.4376em;
  }
  
  .u-section-2 .u-text-70 {
    margin: -42px auto 0 111px;
  }
  
  .u-section-2 .u-text-71 {
    margin: 20px 10px 0;
  }
  
  .u-section-2 .u-btn-13 {
    font-weight: 700;
    font-size: 0.9375rem;
    margin: 5px 225px 0 auto;
    padding: 0;
  }
  
  .u-section-2 .u-icon-62 {
    font-size: 0.7em;
  }
  
  .u-section-2 .u-text-72 {
    margin: -24px 10px 0;
  }
  
  .u-section-2 .u-text-73 {
    margin: -26px auto 0 135px;
  }
  
  .u-section-2 .u-text-74 {
    margin: -26px auto 0 280px;
  }
  
  .u-section-2 .u-container-layout-20 {
    padding: 10px 0;
  }
  
  .u-section-2 .u-text-75 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 10px;
  }
  
  .u-section-2 .u-icon-66 {
    font-size: 2.4376em;
  }
  
  .u-section-2 .u-text-76 {
    margin: -42px auto 0 111px;
  }
  
  .u-section-2 .u-text-77 {
    margin: 20px 10px 0;
  }
  
  .u-section-2 .u-btn-14 {
    font-weight: 700;
    font-size: 0.9375rem;
    margin: 5px 225px 0 auto;
    padding: 0;
  }
  
  .u-section-2 .u-icon-67 {
    font-size: 0.7em;
  }
  
  .u-section-2 .u-text-78 {
    margin: -24px 10px 0;
  }
  
  .u-section-2 .u-text-79 {
    margin: -26px auto 0 135px;
  }
  
  .u-section-2 .u-text-80 {
    margin: -26px auto 0 280px;
  }
  
  .u-section-2 .u-container-layout-21 {
    padding: 10px 0;
  }
  
  .u-section-2 .u-text-81 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 10px;
  }
  
  .u-section-2 .u-icon-71 {
    font-size: 2.4376em;
  }
  
  .u-section-2 .u-text-82 {
    margin: -42px auto 0 111px;
  }
  
  .u-section-2 .u-text-83 {
    margin: 20px 10px 0;
  }
  
  .u-section-2 .u-btn-15 {
    font-weight: 700;
    font-size: 0.9375rem;
    margin: 5px 225px 0 auto;
    padding: 0;
  }
  
  .u-section-2 .u-icon-72 {
    font-size: 0.7em;
  }
  
  .u-section-2 .u-text-84 {
    margin: -24px 10px 0;
  }
  
  .u-section-2 .u-text-85 {
    margin: -26px auto 0 135px;
  }
  
  .u-section-2 .u-text-86 {
    margin: -26px auto 0 280px;
  }
  
  .u-section-2 .u-layout-cell-2 {
    min-height: 1730px;
  }
  
  .u-section-2 .u-container-layout-22 {
    padding: 0;
  }
  
  .u-section-2 .u-group-6 {
    min-height: 1158px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 0;
  }
  
  .u-section-2 .u-container-layout-23 {
    padding: 0 9px;
  }
  
  .u-section-2 .u-line-1 {
    transform-origin: left center 0px;
    height: 1px;
    position: absolute;
    top: 972px;
    left: auto;
    right: -9px;
  }
  
  .u-section-2 .u-video-1 {
    min-height: 164px;
    height: auto;
    margin-top: 1px;
    margin-bottom: 0;
  }
  
  .u-section-2 .u-container-layout-24 {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .u-section-2 .embed-responsive-1 {
    position: absolute;
  }
  
  .u-section-2 .u-text-87 {
    margin: 23px auto 0 0;
  }
  
  .u-section-2 .u-text-88 {
    margin: 20px auto 0 0;
  }
  
  .u-section-2 .u-text-89 {
    font-weight: 500;
    margin: 20px auto 0 0;
  }
  
  .u-section-2 .u-text-90 {
    margin: 20px auto 0 0;
  }
  
  .u-section-2 .u-text-91 {
    font-weight: 500;
    margin: 20px auto 0 0;
  }
  
  .u-section-2 .u-text-92 {
    margin: 20px auto 0 0;
  }
  
  .u-section-2 .u-text-93 {
    font-weight: 500;
    margin: 20px auto 0 0;
  }
  
  .u-section-2 .u-text-94 {
    margin: 20px auto 0 0;
  }
  
  .u-section-2 .u-text-95 {
    font-weight: 500;
    margin: 20px 157px 0 0;
  }
  
  .u-section-2 .u-text-96 {
    margin: 20px auto 0 0;
  }
  
  .u-section-2 .u-text-97 {
    font-weight: 500;
    margin: 21px 157px 0 0;
  }
  
  .u-section-2 .u-text-98 {
    margin: 20px auto 0 0;
  }
  
  .u-section-2 .u-btn-16 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 2px;
    margin: 20px auto 0 0;
    padding: 11px 33px 11px 31px;
  }
  
  .u-section-2 .u-icon-76 {
    font-size: 1.3em;
  }
  
  .u-section-2 .u-text-99 {
    font-weight: 400;
    margin: 53px auto 0 0;
  }
  
  .u-section-2 .u-text-100 {
    font-weight: 500;
    margin: 20px auto 0 0;
  }
  
  .u-section-2 .u-icon-79 {
    width: 24px;
    height: 24px;
    margin: 10px auto 0 0;
  }
  
  .u-section-2 .u-icon-80 {
    width: 24px;
    height: 24px;
    margin: -24px auto 0 25px;
  }
  
  .u-section-2 .u-icon-81 {
    width: 24px;
    height: 24px;
    margin: -24px auto 0 49px;
  }
  
  .u-section-2 .u-icon-82 {
    width: 24px;
    height: 24px;
    margin: -24px auto 0 73px;
  }
  
  .u-section-2 .u-icon-83 {
    width: 24px;
    height: 24px;
    margin: -24px auto 0 97px;
  }
  
  .u-section-2 .u-text-101 {
    margin: 10px auto 0 0;
  }
  
  .u-section-2 .u-line-2 {
    transform-origin: left center 0px;
    width: 285px;
    margin: 23px auto 0;
  }
  
  .u-section-2 .u-text-102 {
    font-weight: 500;
    line-height: 1.375;
    font-size: 1.25rem;
    margin: 29px 0 0;
  }
  
  .u-section-2 .u-text-103 {
    margin: 10px 10px 0;
  }
  
  .u-section-2 .u-form-1 {
    height: 368px;
    --thumb-color: #0057e5;
    --thumb-hover-color: #4786ed;
    --track-color: #c0c0c0;
    --track-active-color: #0057e5;
    --number-width: 60px;
    width: 272px;
    margin: 0 16px;
  }
  
  .u-section-2 .u-form-group-2 {
    --progress: 0%;
  }
  
  .u-section-2 .u-form-group-3 {
    margin-left: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 1801px;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      position: relative;
      width: 940px;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 1765px;
    }
  
    .u-section-2 .u-text-1 {
      margin-right: 317px;
    }
  
    .u-section-2 .u-repeater-1 {
      min-height: 222px;
    }
  
    .u-section-2 .u-image-1 {
      height: auto;
    }
  
    .u-section-2 .u-text-2 {
      margin-left: 2px;
      margin-right: 2px;
      width: 112px;
    }
  
    .u-section-2 .u-text-3 {
      margin-left: 2px;
      margin-right: 2px;
      width: 112px;
    }
  
    .u-section-2 .u-text-4 {
      margin-left: 2px;
      margin-right: 2px;
      width: 112px;
    }
  
    .u-section-2 .u-text-5 {
      margin-left: 1px;
      margin-right: 1px;
      width: 113px;
    }
  
    .u-section-2 .u-text-6 {
      margin-left: 2px;
      margin-right: 2px;
      width: 112px;
    }
  
    .u-section-2 .u-image-2 {
      height: auto;
    }
  
    .u-section-2 .u-text-7 {
      margin-left: 0;
      margin-right: 0;
      width: 112px;
    }
  
    .u-section-2 .u-text-8 {
      margin-left: 0;
      margin-right: 0;
      width: 112px;
    }
  
    .u-section-2 .u-text-9 {
      margin-left: 0;
      margin-right: 0;
      width: 112px;
    }
  
    .u-section-2 .u-text-10 {
      margin-right: 0;
      margin-left: 0;
      width: 113px;
    }
  
    .u-section-2 .u-text-11 {
      margin-right: 0;
      margin-left: 0;
      width: 112px;
    }
  
    .u-section-2 .u-image-3 {
      height: auto;
    }
  
    .u-section-2 .u-text-12 {
      margin-left: 0;
      margin-right: 0;
      width: 112px;
    }
  
    .u-section-2 .u-text-13 {
      margin-left: 0;
      margin-right: 0;
      width: 112px;
    }
  
    .u-section-2 .u-text-14 {
      margin-left: 0;
      margin-right: 0;
      width: 112px;
    }
  
    .u-section-2 .u-text-15 {
      margin-right: 0;
      margin-left: 0;
      width: 113px;
    }
  
    .u-section-2 .u-text-16 {
      margin-right: 0;
      margin-left: 0;
      width: 112px;
    }
  
    .u-section-2 .u-image-4 {
      height: auto;
    }
  
    .u-section-2 .u-text-17 {
      margin-left: 0;
      margin-right: 0;
      width: 112px;
    }
  
    .u-section-2 .u-text-18 {
      margin-left: 0;
      margin-right: 0;
      width: 112px;
    }
  
    .u-section-2 .u-text-19 {
      margin-left: 0;
      margin-right: 0;
      width: 112px;
    }
  
    .u-section-2 .u-text-20 {
      margin-right: 0;
      margin-left: 0;
      width: 113px;
    }
  
    .u-section-2 .u-text-21 {
      margin-right: 0;
      margin-left: 0;
      width: 112px;
    }
  
    .u-section-2 .u-image-5 {
      height: auto;
    }
  
    .u-section-2 .u-text-22 {
      margin-left: 0;
      margin-right: 0;
      width: 112px;
    }
  
    .u-section-2 .u-text-23 {
      margin-left: 0;
      margin-right: 0;
      width: 112px;
    }
  
    .u-section-2 .u-text-24 {
      margin-left: 0;
      margin-right: 0;
      width: 112px;
    }
  
    .u-section-2 .u-text-25 {
      margin-right: 0;
      margin-left: 0;
      width: 113px;
    }
  
    .u-section-2 .u-text-26 {
      margin-right: 0;
      margin-left: 0;
      width: 112px;
    }
  
    .u-section-2 .u-list-2 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-btn-6 {
      border-style: none;
      margin-right: 78px;
    }
  
    .u-section-2 .u-text-32 {
      margin-left: 227px;
    }
  
    .u-section-2 .u-btn-7 {
      border-style: none;
      margin-right: 78px;
    }
  
    .u-section-2 .u-text-38 {
      margin-left: 227px;
    }
  
    .u-section-2 .u-btn-8 {
      border-style: none;
      margin-right: 78px;
    }
  
    .u-section-2 .u-text-44 {
      margin-left: 227px;
    }
  
    .u-section-2 .u-btn-9 {
      border-style: none;
      margin-right: 78px;
    }
  
    .u-section-2 .u-text-50 {
      margin-left: 227px;
    }
  
    .u-section-2 .u-btn-10 {
      border-style: none;
      margin-right: 78px;
    }
  
    .u-section-2 .u-text-56 {
      margin-left: 227px;
    }
  
    .u-section-2 .u-btn-11 {
      border-style: none;
      margin-right: 78px;
    }
  
    .u-section-2 .u-text-62 {
      margin-left: 227px;
    }
  
    .u-section-2 .u-btn-12 {
      border-style: none;
      margin-right: 78px;
    }
  
    .u-section-2 .u-text-68 {
      margin-left: 227px;
    }
  
    .u-section-2 .u-btn-13 {
      border-style: none;
      margin-right: 78px;
    }
  
    .u-section-2 .u-text-74 {
      margin-left: 227px;
    }
  
    .u-section-2 .u-btn-14 {
      border-style: none;
      margin-right: 78px;
    }
  
    .u-section-2 .u-text-80 {
      margin-left: 227px;
    }
  
    .u-section-2 .u-btn-15 {
      border-style: none;
      margin-right: 78px;
    }
  
    .u-section-2 .u-text-86 {
      margin-left: 227px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 1426px;
    }
  
    .u-section-2 .u-group-6 {
      height: auto;
    }
  
    .u-section-2 .u-container-layout-23 {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  
    .u-section-2 .u-video-1 {
      height: auto;
    }
  
    .u-section-2 .u-container-layout-24 {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  
    .u-section-2 .u-text-95 {
      margin-right: 104px;
    }
  
    .u-section-2 .u-text-97 {
      margin-right: 104px;
    }
  
    .u-section-2 .u-icon-83 {
      margin-left: 79px;
    }
  
    .u-section-2 .u-line-2 {
      width: 251px;
    }
  
    .u-section-2 .u-text-102 {
      line-height: 1;
      font-size: 1.5rem;
    }
  
    .u-section-2 .u-text-103 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-form-1 {
      width: 251px;
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 136px;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      width: 720px;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-2 .u-text-1 {
      margin-right: 156px;
    }
  
    .u-section-2 .u-repeater-1 {
      grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
      min-height: 573px;
    }
  
    .u-section-2 .u-text-2 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-3 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-4 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-5 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-6 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-btn-6 {
      margin-right: 0;
    }
  
    .u-section-2 .u-text-32 {
      margin-left: 169px;
    }
  
    .u-section-2 .u-btn-7 {
      margin-right: 0;
    }
  
    .u-section-2 .u-text-38 {
      margin-left: 169px;
    }
  
    .u-section-2 .u-btn-8 {
      margin-right: 0;
    }
  
    .u-section-2 .u-text-44 {
      margin-left: 169px;
    }
  
    .u-section-2 .u-btn-9 {
      margin-right: 0;
    }
  
    .u-section-2 .u-text-50 {
      margin-left: 169px;
    }
  
    .u-section-2 .u-btn-10 {
      margin-right: 0;
    }
  
    .u-section-2 .u-text-56 {
      margin-left: 169px;
    }
  
    .u-section-2 .u-btn-11 {
      margin-right: 0;
    }
  
    .u-section-2 .u-text-62 {
      margin-left: 169px;
    }
  
    .u-section-2 .u-btn-12 {
      margin-right: 0;
    }
  
    .u-section-2 .u-text-68 {
      margin-left: 169px;
    }
  
    .u-section-2 .u-btn-13 {
      margin-right: 0;
    }
  
    .u-section-2 .u-text-74 {
      margin-left: 169px;
    }
  
    .u-section-2 .u-btn-14 {
      margin-right: 0;
    }
  
    .u-section-2 .u-text-80 {
      margin-left: 169px;
    }
  
    .u-section-2 .u-btn-15 {
      margin-right: 0;
    }
  
    .u-section-2 .u-text-86 {
      margin-left: 169px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-2 .u-text-95 {
      margin-right: 45px;
    }
  
    .u-section-2 .u-text-97 {
      margin-right: 45px;
    }
  
    .u-section-2 .u-icon-82 {
      margin-left: 55px;
    }
  
    .u-section-2 .u-icon-83 {
      margin-left: 59px;
    }
  
    .u-section-2 .u-line-2 {
      width: 192px;
    }
  
    .u-section-2 .u-form-1 {
      width: 192px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 236px;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      width: 540px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-repeater-1 {
      grid-template-columns: calc(50% - 5px) calc(50% - 5px);
      min-height: 1462px;
    }
  
    .u-section-2 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-7 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-9 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-11 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-24 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-layout-wrap-1 {
      width: 340px;
    }
  
    .u-section-2 .u-text-1 {
      margin-right: 0;
    }
  
    .u-section-2 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  
    .u-section-2 .u-text-28 {
      margin-left: 68px;
    }
  
    .u-section-2 .u-text-31 {
      margin-left: 83px;
    }
  
    .u-section-2 .u-text-32 {
      margin-left: 104px;
    }
  
    .u-section-2 .u-text-34 {
      margin-left: 68px;
    }
  
    .u-section-2 .u-text-37 {
      margin-left: 83px;
    }
  
    .u-section-2 .u-text-38 {
      margin-left: 104px;
    }
  
    .u-section-2 .u-text-40 {
      margin-left: 68px;
    }
  
    .u-section-2 .u-text-43 {
      margin-left: 83px;
    }
  
    .u-section-2 .u-text-44 {
      margin-left: 104px;
    }
  
    .u-section-2 .u-text-46 {
      margin-left: 68px;
    }
  
    .u-section-2 .u-text-49 {
      margin-left: 83px;
    }
  
    .u-section-2 .u-text-50 {
      margin-left: 104px;
    }
  
    .u-section-2 .u-text-52 {
      margin-left: 68px;
    }
  
    .u-section-2 .u-text-55 {
      margin-left: 83px;
    }
  
    .u-section-2 .u-text-56 {
      margin-left: 104px;
    }
  
    .u-section-2 .u-text-58 {
      margin-left: 68px;
    }
  
    .u-section-2 .u-text-61 {
      margin-left: 83px;
    }
  
    .u-section-2 .u-text-62 {
      margin-left: 104px;
    }
  
    .u-section-2 .u-text-64 {
      margin-left: 68px;
    }
  
    .u-section-2 .u-text-67 {
      margin-left: 83px;
    }
  
    .u-section-2 .u-text-68 {
      margin-left: 104px;
    }
  
    .u-section-2 .u-text-70 {
      margin-left: 68px;
    }
  
    .u-section-2 .u-text-73 {
      margin-left: 83px;
    }
  
    .u-section-2 .u-text-74 {
      margin-left: 104px;
    }
  
    .u-section-2 .u-text-76 {
      margin-left: 68px;
    }
  
    .u-section-2 .u-text-79 {
      margin-left: 83px;
    }
  
    .u-section-2 .u-text-80 {
      margin-left: 104px;
    }
  
    .u-section-2 .u-text-82 {
      margin-left: 68px;
    }
  
    .u-section-2 .u-text-85 {
      margin-left: 83px;
    }
  
    .u-section-2 .u-text-86 {
      margin-left: 104px;
    }
  
    .u-section-2 .u-text-95 {
      margin-right: 0;
    }
  
    .u-section-2 .u-text-97 {
      margin-right: 0;
    }
  }