{% extends 'base_v21.html.twig' %}

{% block title %}
  Paiement | Olona Talents
{% endblock %}

{% block meta %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block sidebar %}
  {% include "v2/dashboard/layout_entreprise.html.twig" %}
{% endblock %}


{% block body %}
	<section class="">
		<div class="shadow p-2 p-sm-4">
        </div>
    </section>
{% endblock %}