<turbo-stream action="update" target="current-user-credit">
  <template>
    {{ credit }}
  </template>
</turbo-stream>
{% if candidat is defined and candidat is not null %}
    <turbo-stream action="update" target="contactDetails">
        <template>
            <div class="experience-form">
                <fieldset>
                Votre demande de contact a été envoyée au candidat et est en attente de son approbation. Vos crédits ne seront débités qu'une fois la demande approuvée.
                </fieldset>
            </div>
        </template>
    </turbo-stream>
{% endif %}
{% if recruiter is defined and recruiter is not null %}
    <turbo-stream action="update" target="contactDetails">
        <template>
            Votre demande de contact a été envoyée au client et est en attente de son approbation. Vos crédits ne seront débités qu'une fois la demande approuvée.
        </template>
    </turbo-stream>
{% endif %}
<turbo-stream action="update" target="errorToast">
    <template>
        <div class="toast-header">
            <strong class="me-auto">{{ status|raw }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{ message }}
        </div>
    </template>
</turbo-stream>
