{% extends 'dashboard/base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h1 class="h2">Simulations</h1>
    <div id="simulations-container">
        {% include 'dashboard/moderateur/simulateur/_simulateurs.html.twig' %}
    </div>
</div>
{% endblock %}

