{% extends 'dashboard/base.html.twig' %}

{% block title %}Éditer le rendez-vous: {{ metting.id }}{% endblock %}

{% block body %}
    <h1>Éditer le rendez-vous: {{ metting.id }}</h1>

    {{ include('dashboard/moderateur/mettings_form.html.twig') }}

    <a href="{{ path('app_dashboard_moderateur_metting_show', {'id': metting.id}) }}">voir</a>
<a href="javascript:history.back()" class="btn btn-primary rounded-pill my-3"><i class="mx-2 bi bi-arrow-left"></i>Retour</a>
{% endblock %}