{% extends 'dashboard/base.html.twig' %}

{% block title %}Créer un nouveau rendez-vous{% endblock %}

{% block body %}
    <h1>Créer un nouveau rendez-vous</h1>
    
    {{ include('dashboard/moderateur/mettings_form.html.twig', {'form': form}) }}
    
<a href="javascript:history.back()" class="btn btn-secondary rounded-pill my-3"><i class="mx-2 bi bi-arrow-left"></i>Retour</a>
{% endblock %}
