{% extends 'base.html.twig' %}
{% block body %}
<div class="container mt-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-chevron p-3 bg-black text-white rounded-3">
      <li class="breadcrumb-item">
        <a class="link-body-emphasis text-white" href="https://www.olona-talents.com/">
          <i class="bi bi-house-door-fill"></i>
          <span class="visually-hidden">Home</span>
        </a>
      </li>
      <li class="breadcrumb-item">
        <a class="link-body-emphasis text-white fw-semibold text-decoration-none" href="{{ path('app_ai_tools') }}">Outils AI</a>
      </li>
      <li class="breadcrumb-item">
        <a class="link-body-emphasis text-white fw-semibold text-decoration-none" href="#">Etiquettes</a>
      </li>
      <li class="breadcrumb-item text-white active" aria-current="page">
      {{tag.nomFr ?? tag.nom}}
      </li>
    </ol>
  </nav>
</div>
<section class="py-3 container">
  <div class="row py-lg-5">
    <div class="col mx-auto text-light">
      <h1 class="text-center fw-light">Etiquette : {{tag.nomFr ?? tag.nom}}</h1>
      <p class="my-4">{{ tag.description|raw }}</p>
    </div>
  </div>
</section>
    <div class="album py-3 bg-body-dark">
      <div class="container">

      <div id="ia-container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ia-item">  
            {% include "ai_tool/_tools.html.twig" %}
        </div>

      </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  let offset = 9; 
  $(window).on('scroll', function() {
      const threshold = 2;
      const position = $(window).scrollTop() + $(window).height();
      const height = $(document).height();
          
      if (position >= height - threshold && offset <= 20) { // Ajout de la condition offset <= 20
          console.log('fini');
          $.ajax({
              url: `/ai-tools?offset=${offset}`,
              type: 'GET',
              success: function(response) {
                  if (response) {
                      const $produitItemDiv = $('#ia-container .ia-item');
                      if ($produitItemDiv.length) {
                          $produitItemDiv.append(response.html);
                      }
                      offset += 9; // Incrémente pour le prochain lot
                  }
              },
              error: function(error) {
                  console.error('Une erreur est survenue:', error);
              }
          });
      }
  });
</script>
{% endblock %}
