{% if this.annonces is not empty %}
{% set numSlides = this.annonces|length // 8 %}
{% if this.annonces|length % 8 > 0 %}
{% set numSlides = numSlides + 1 %}
{% endif %}

<div id="carousel_posting_component" class="carousel slide mb-5" data-bs-ride="carousel">
    <div class="carousel-indicators mb-3">
        {% for i in 0..numSlides - 1 %}
        <button type="button" data-bs-target="#carousel_posting_component" data-bs-slide-to="{{ i }}" {% if loop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ i + 1 }}"></button>
        {% endfor %}
    </div>

    <div class="carousel-inner">
        {% for i in 0..numSlides - 1 %}
        <div class="carousel-item {% if loop.first %}active{% endif %}">
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-md-3=5 g-2"> <!-- Changement ici pour 4 colonnes -->
                    {% for j in 0..7 %} <!-- Itérer sur 6 annonces par slide -->
                        {% set index = i * 8 + j %} <!-- Calcul de l'index basé sur 6 annonces par slide -->
                        {% if index < this.annonces|length %}
                            {% set posting = this.annonces[index] %}
                            {{ component('annonce_component', {id: posting.id})}}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
