{% if this.topRanked|length > 0 %}
    {% set numSlides = this.topRanked|length // 4 %}
    {% if this.topRanked|length % 4 > 0 %}
    {% set numSlides = numSlides + 1 %}
    {% endif %}


    <div id="carousel_expert_component" class="carousel slide mb-5" data-bs-ride="carousel">
        <div class="carousel-indicators mb-3">
            {% for i in 0..numSlides - 1 %}
            <button type="button" data-bs-target="#carousel_expert_component" data-bs-slide-to="{{ i }}" {% if loop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ i + 1 }}"></button>
            {% endfor %}
        </div>

        <div class="carousel-inner">
            {% for i in 0..numSlides - 1 %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
                <div class="container-fluid">
                    <div class="row row-cols-1 row-cols-md-4 g-2">
                        {% for j in 0..3 %}
                            {% set index = i * 4 + j %}
                            {% if index < this.topRanked|length %}
                                {% set candidat = this.topRanked[index] %}
                                {{ component('candidat_component', {id: candidat.id})}}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}