<div{{ attributes }}
    data-poll
>
    <div class="small my-auto text-center">
        Vous avez <span class="fw-bold" id="current-user-credit">{{ this.creditUser }}</span> crédits <br> disponibles
    </div>
</div>