{% extends 'dashboard/base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h2 class="h1">
        Affichage
    </h2>

    {{ form_start(formImport) }}
    {{ form_widget(formImport) }}
    <button type="submit" class="btn btn-info">
        Importer                
    </button>
    {{ form_end(formImport) }}
    

</div>
{% endblock %}
