{% extends 'dashboard/base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h2>Affiliate Tool</h2>
        <hr>
        <div class="col-9 mx-auto">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-secondary" type="submit">
               Sauvegarder
            </button>
            {{ form_end(form) }}
        </div>
</div>

{% endblock %}

