
<section class="info container my-4">
<hr>
    <div class="row mt-1 text-dark">
        <p class="h4">
            <i class="h4 bi mx-2 bi-people-fill"></i> 
            {{ 'app_dashboard_company.more_info'|trans }} 
        </p>
        <div class="mx-4">
            <p>
                {{ 'app_dashboard_company.contact_us'|trans }} 
            </p>
            <p>
                {{ 'app_dashboard_company.follow_us'|trans }} 
                <i class="h3 mx-2 bi bi-facebook"></i>
                <i class="h3 mx-2 bi bi-twitter"></i>
                <i class="h3 mx-2 bi bi-linkedin"></i>
                <i class="h3 mx-2 bi bi-instagram"></i>
                <i class="h3 mx-2 bi bi-tiktok"></i>
            </p>
        </div>
    </div>
</section>