{% extends 'base_v21.html.twig' %}

{% block title %}
	Candidats | Olona Talents
{% endblock %}

{% block meta %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block sidebar %}
	{% include "v2/dashboard/layout_entreprise.html.twig" %}
{% endblock %}

{% block body %}
    <section class="">
      <div class="shadow p-2 p-sm-4">
          <h2 class="fs-4 fw-bolder text-center my-3 my-sm-5">
            <i class="bi bi-search text-warning me-2"></i>
            Trouvez le profil idéal, parcourez par mot-clé, titre ou compétences.
          </h2>
        <div class="col">
          {% include "v2/result/_search_candidats.html.twig" with {'candidats': candidats} %}
        </div>
      </div>
    </section>
{% endblock %}