
{% extends 'base.html.twig' %}

{% block title %}Accès non autorisé{% endblock %}

{% block body %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <div class="container">
            <div class="p-5 text-center bg-dark rounded-3">
                <h1 class="text-light">Accès non autorisé</h1>
                <p class="col-lg-8 mx-auto fs-5 text-light">
                {% if message is defined %}
                    {{ message }}
                {% else %}
                    Désolé, la page que vous souhaitez consulter est réservée à certaines autorisations.
                {% endif %}
                </p>
                
                <div class="d-flex flex-column flex-sm-row justify-content-center gap-2 my-5">
                    <a class="d-inline-flex align-items-center btn btn-primary btn-md px-4 rounded-pill mb-2 mb-sm-0" href="{{ path('app_home')}}">
                        Retour à l'accueil
                    </a>
                    <a class="btn btn-outline-light btn-md px-4 rounded-pill" href="{{ path('app_home_contact')}}">
                        Nous contacter
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}