{% extends 'dashboard/base.html.twig' %}

{% block title %}Liste des rendez-vous{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2>Liste des rendez-vous</h2>
    <a href="{{path('rendezvous_create')}}" class="btn-success btn rounded-pill px-5">Créer un rendez-vous</a>
    <hr>
    <div class="annonce-list p-2">
        
        {% include "dashboard/moderateur/conference/_conferences.html.twig" %}

    </div>
</div>

{% endblock %}