@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

body {
    font-family: 'PT Sans', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

h1, h2, h3, a, button {
    font-family: 'Poppins';
}
.min-vh-100 {
    flex: 1;
}
a{
    text-decoration: none!important;
}
.content-padded {
    flex: 1;
    padding-top: 200px; /* Ajustez cette valeur en fonction de la hauteur de votre navbar. */
}
#footer a, #login a, #register label a{
    color: $indigo!important;
    text-decoration: none;
}
#navbar a i{
    color: $indigo!important;
    text-decoration: none;
}
#hero .img-container {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
#hero .img-container img {
    width: 100%;
    height: 100%;
}
#hero .img-container button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#hero .image-wrapper {
    position: relative;
    overflow: hidden;
}
#hero .image-wrapper img {
    width: auto;
    height: auto;
    object-fit: cover;
}
#hero .image-wrapper a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bg-gradient-sector {
    background-image: linear-gradient(to right, #2204a3, #92c6c8);
    -webkit-background-image: linear-gradient(to right, #2204a3, #92c6c8);
}

.text-strong{
    font-weight: bolder;
}   

#candidatAvaillability label.form-check-label.required {
    display: block !important;
}
label.form-check-label.required{
    display: none !important;
}
.custom-min-height {
    min-height: 100vh;  /* 75% de la hauteur de l'écran */
}
.carousel-indicators {
    bottom: -80px!important; /* Ajustez cette valeur selon le déplacement souhaité */
}
.carousel-indicators [data-bs-target] {
    background-color: #ff0000; /* Couleur de fond */
    width: 10px; /* Largeur */
    height: 10px; /* Hauteur */
    border-radius: 50%; /* Forme ronde */
}
.carousel-indicators .active[data-bs-target] {
    background-color: #00ff00; /* Changez ceci à la couleur souhaitée, ici c'est du vert */
}
.div-plein-ecran {
    min-height: 100vh;
    box-sizing: border-box; 
}
.text-green{
    color: $green;
}
.small{
    font-size: small;
}
.five-cols .col-2-25 {
    flex: 0 0 8%; /* 2/25 de la largeur totale */
    max-width: 8%;
}

.five-cols .col-5-25 {
    flex: 0 0 20%; /* 5/25 de la largeur totale */
    max-width: 20%;
}

.five-cols .col-3-25 {
    flex: 0 0 12%; /* 3/25 de la largeur totale */
    max-width: 12%;
}
.img-border {
    border: 2px solid black;
}
.image-container {
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center;     /* Centrer verticalement */
    height: 100%; /* ou toute autre valeur selon vos besoins */
}
.modal-body ul li{
    list-style: none!important;
}
#button-text a{
    color: black!important;
}
.text-right{
    text-align: right!important;
}

.filter-input {
    width: 100%;
    padding: 3px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

th {
    position: relative;
}

#filter-id .filter-input .id-column {
    width: 30px!important;
}

.entreprise-col, .titre-col, .description-col, .status-col {
    width: 150px!important; /* Ajustez selon vos besoins */
}

.actions-col {
    white-space: nowrap;
}

.photo-gris img {
filter: grayscale(1);
-webkit-filter: grayscale(1);
}
.photo-gris img:hover {
filter: grayscale(0);
-webkit-filter: grayscale(0);
}

td .status-bruillon { background-color: #f0f0f0!important; }
td .status-publiee { background-color: #4caf50!important; }
td .status-en-attente { background-color: #ffeb3b!important; }
td .status-rejetee { background-color: #f44336!important; }


.custom-tooltip {
    position: relative;
    cursor: help;
}

.custom-tooltip[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333; /* Couleur de fond */
    color: white; /* Couleur du texte */
    text-align: left;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 12px;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    width: 200px; /* Largeur fixe */
    white-space: normal; /* Permet au texte de passer à la ligne */
    max-width: 300px; /* Largeur maximale */
}
a[target="_blank"] .bi {
    margin-left: -2px; /* Ajoute un peu d'espace entre le texte et l'icône */
    color: #007bff; /* Couleur de l'icône, vous pouvez l'ajuster selon vos besoins */
}
