.loader-container {
    position: fixed;  /* Utilisez fixed pour couvrir toute la page */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;  /* Utilisez flex pour centrer facilement le contenu */
    justify-content: center;  /* Centre horizontalement */
    align-items: center;  /* Centre verticalement */
    background-color: rgba(0, 0, 0, 0.5);  /* Fond semi-transparent noir */

    &.bootstrap-dark {
        background-color: rgba(0, 0, 0, 0.5);  /* Fond semi-transparent noir pour le thème sombre */
    }

    &.bootstrap-light {
        background-color: rgba(255, 255, 255, 0.8);  /* Fond semi-transparent blanc pour le thème clair */
    }
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

    &::after,
    &::before {
        content: '';  
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 3px solid;
        border-color: transparent transparent #FF3D00 #FF3D00;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotationBack 0.5s linear infinite;
        transform-origin: center center;
    }

    &::before {
        width: 32px;
        height: 32px;
        border-color: #FFF #FFF transparent transparent;
        animation: rotation 1.5s linear infinite;
    }

    &.bootstrap-light::before {
        border-color: #343a40 #343a40 transparent transparent;  /* Bordure sombre pour le thème clair */
    }

    &.bootstrap-light::after {
        border-color: transparent transparent #FF3D00 #FF3D00;  /* Bordure rouge pour le thème clair */
    }

    &.bootstrap-dark::before {
        border-color: #FFF #FFF transparent transparent;  /* Bordure blanche pour le thème sombre */
    }

    &.bootstrap-dark::after {
        border-color: transparent transparent #FF3D00 #FF3D00;  /* Bordure rouge pour le thème sombre */
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
