@media (max-width: 768px) {
    .cta-group, a.btn{
        text-align: center;
        margin: auto;
    }
    #about h2{
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    #candidat_annonce_search_typeContrat{
        width:100%;
    }
}