@media (min-width: 992px) { /* Taille standard pour les grands appareils (desktops, 992px et plus) */
    .desktop-vh-100 {
        height: 100vh;
    }
}
@media (max-width: 768px) {
    .background-div {
        height: 300px!important; /* Prend la moitié de la hauteur de la fenêtre de vision pour les appareils mobiles */
    }
    .cta-group, a.btn{
        text-align: center;
        margin: auto;
    }
    #about h2{
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}