.image-checkbox {
    position: relative;
}

.custom-control-input {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    opacity: 0.9;
    width: 25px;
    height: 25px;
}

.custom-control-input:checked {
    background-color: #007BFF; 
}
.custom-control-input {
    background-color: #808385; 
}
.image-checkbox > .form-check > label{
    display:none!important;
}
.custom-control-label::before, .custom-control-label::after {
    display: none; 
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

@keyframes blink {
    0%   {opacity: 1;}
    25%  {opacity: 0.5;}
    50%  {opacity: 1;}
    75%  {opacity: 0.5;}
    100% {opacity: 1;}
}

.blinking {
    animation: blink 0.6s linear infinite;
}
#register-submit{
    width: auto;
    margin-top: 1rem;
}
/* Arrondir le début (le côté gauche pour les langues LTR) */
.custom-rounded-start {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

/* Arrondir la fin (le côté droit pour les langues LTR) */
.custom-rounded-end {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

/* Arrondir la fin (le côté droit pour les langues LTR) */
.custom-rounded-middle {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.form-switch {
    display: inline-block;
    position: relative;
    width: 140px; /* Ajusté pour plus d'espace */
    height: 34px;
  }
  
  .form-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .switch-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .switch-slider {
    background-color: #2196F3;
  }
  
  input:checked + .switch-slider:before {
    transform: translateX(96px); /* Ajustement pour la nouvelle largeur */
  }
  
  .switch-label {
    color: white;
    position: absolute;
    align-items: center;
    width: 60%; /* Réduction de la largeur pour créer de l'espace de chaque côté */
    height: 100%;
    justify-content: center;
    display: flex;
  }
  
  .switch-label-on {
    left: 10%; /* Décalage pour le label "Entreprise" */
    display: none;
  }
  
  .switch-label-off {
    right: 10%; /* Décalage pour le label "Candidat" */
  }
  
  input:checked + .switch-slider .switch-label-on {
    display: flex;
  }
  
  input:checked + .switch-slider .switch-label-off {
    display: none;
  }
.card-selected {
    border: 2px solid #4CAF50; 
    background-color: #f0f0f0; 
    transform: scale(1.05); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    box-shadow: 0 0 15px rgba(0,0,0,0.6); 
}