.image-checkbox {
    position: relative;
}

.custom-control-input {
    position: absolute;
    top: 30px;
    right: 10px;
    z-index: 1;
    opacity: 0.9; /* Rendre le bouton radio légèrement transparent */
    width: 25px; /* Ajuster selon la taille souhaitée */
    height: 25px; /* Ajuster selon la taille souhaitée */
}

.custom-control-input:checked {
    background-color: #007BFF; /* Couleur de fond lorsqu'elle est cochée. Utilisez la couleur que vous souhaitez. */
}

.custom-control-label::before, .custom-control-label::after {
    display: none; /* Cacher le carré par défaut du bouton radio */
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

@keyframes blink {
    0%   {opacity: 1;}
    25%  {opacity: 0.5;}
    50%  {opacity: 1;}
    75%  {opacity: 0.5;}
    100% {opacity: 1;}
}

.blinking {
    animation: blink 0.6s linear infinite;
}
#register-submit{
    width: auto;
    margin-top: 1rem;
}
/* Arrondir le début (le côté gauche pour les langues LTR) */
.custom-rounded-start {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

/* Arrondir la fin (le côté droit pour les langues LTR) */
.custom-rounded-end {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

/* Arrondir la fin (le côté droit pour les langues LTR) */
.custom-rounded-middle {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
