
.background-div {
    height: 100vh; /* Prend la hauteur totale de la fenêtre de vision */
    background-size: cover; /* Assure que l'image couvre tout le div */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
}
.flex-centre{
    display: flex;
    align-items: center;  /* Centre verticalement */
    justify-content: center;  /* Centre horizontalement */
}
#step_one_file_file{
    margin-top: 1.5rem;
}
#step_one_expert_birthday_day, #step_one_expert_birthday_month, #step_one_expert_birthday_year{
    border: 0 !important;
}
#step-one .rounded-circle{
    border: 7px solid lightgray;
}
.filter-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-buttons button {
    padding: 8px 15px;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: opacity 0.3s;
}

.filter-buttons button:hover {
    opacity: 0.9;
}

.filter-buttons .status-filter[data-status="ACCEPTED"] {
    color: #4CAF50; /* Vert */
}

.filter-buttons .status-filter[data-status="FINISHED"] {
    color: #007BFF; /* Bleu */
}

.filter-buttons .status-filter[data-status="PENDING"] {
    color: #FFC107; /* Jaune */
}

.filter-buttons .reset-filter {
    color: #6c757d; /* Gris */
    position: relative;
}

.filter-buttons .reset-filter::before {
    content: "×";
    position: absolute;
    top: 0;
    right: -10px;
    font-size: 20px;
    line-height: 1;
    color: red;
}

.application {
    display: none;
}
.filter-buttons input,
.filter-buttons button {
    margin-right: 10px;
}

.filter-buttons button {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-buttons button:hover {
    opacity: 0.9;
}

.card-image-ia {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
}
.card-image-ia-single {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
}

.card-image-ia:hover {
    transform: scale(1.1);
}

.card-height-uniform {
    height: 450px; /* Hauteur fixe. Ajustez selon vos besoins */
    display: flex;
    flex-direction: column;
}

.bg-image-candidat {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 0;
    position: relative;
    padding-top: 100%; /* Ceci assure un aspect carré */
}

.titre-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Fond sombre semi-transparent */
    color: white; /* Texte blanc */
    width: 100%;
    text-align: center; /* Centrer le titre */
}

.bg-image-candidat-account {
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.overlay-text {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; 
    transition: opacity 0.3s; 
    font-size: 14px; 
    text-align: center;
    padding: 10px; 
}

.bg-image-candidat-account:hover .overlay-text {
    opacity: 1; 
}

.bg-image-candidat-view {
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    border-radius: 50%; 
}
.my-custom-btn {
    background-color: rgba(255, 255, 255, 0.5); 
}
.card-image-wrapper {
    position: relative;
    width: 100%; 
    aspect-ratio: 9 / 16; 
    overflow: hidden; 
    z-index: 1;
}

.job-image {
    position: relative; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 40%; /* 40% de la hauteur de .card-image-wrapper */
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat; 
}

.job-title {
    width: 100%; 
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6); 
    color: white; 
    text-align: center;
}

.card-body-candidat {
    height: 60%; 
    width: 100%;
    .desktop-margin{
        margin: 1rem!important;
    }
    .job-h2{
        min-height:3rem!important;
        display: flex; 
        align-items: center; 
        justify-content: center;
    }
    h2 {
        font-size: 1rem!important; 
    }
}

.desktop .carousel-item .card-body-candidat{
    font-size: 12px!important;
    a{
        font-size: 12px!important;
    }
    .badge{
        font-size: 12px!important;
    }
    .job-h2{
        min-height:1.75rem!important;
    }
    .desktop-none{
        display:none!important;
    }
    .desktop-margin{
        margin: 0.7rem!important;
    }
    h2 {
        font-size: 0.65rem!important; 
    }
}
#coworking{

    .date-picker {
        display: flex; /* Utilise flexbox pour gérer l'alignement en ligne */
        align-items: center; /* Aligne verticalement les éléments au centre */
    }

    .date-picker input[type="date"],
    .date-picker input[type="time"] {
        flex: 1; /* Permet aux champs de prendre le même espace disponible */
        margin-right: 10px; /* Ajoute un espace entre les champs */
    }

    .date-picker input[type="time"] {
        margin-right: 0; /* Retire la marge sur le dernier élément si besoin */
    }

    .color-picker-group {
        display: flex; /* Active Flexbox */
        flex-wrap: wrap; /* Permet de passer à la ligne suivante si nécessaire */
    }

    .color-picker {
        flex: 1 1 30%; /* Prend environ 30% de la largeur compte tenu des marges */
        max-width: 30%;
        margin-right: 1%; /* Espace entre les colonnes */
        box-sizing: border-box; /* Inclut la bordure et le padding dans la largeur totale */
    }

    .color-picker:nth-child(3n) {
        margin-right: 0; /* Pas de marge après la troisième colonne */
    }
    .card {
        position: relative;

        .image-container {
            position: relative;
            overflow: hidden; // Maintient l'overlay dans les limites de l'image

            .blurry-image {
                filter: blur(5px) brightness(0.7);
                transition: filter 0.3s ease-in-out;
            }
            
            .overlay-text {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                color: white;
                font-size: 1.5rem;
                font-weight: bold;  // Assure que le texte est en gras
                text-shadow: 2px 2px 4px #000;
                pointer-events: none; // Empêche le texte d'interférer avec les interactions
                text-align: center;   // Centre le texte si plusieurs lignes
            }
        }

        // Optionally restore the image on hover or perform other effects
        .blurry-image {
            filter: blur(5px) brightness(0.5);  // Peut alléger lors du survol si souhaité
        }
    }
    #event{
        legend{
            font-size: 1.25rem;
            font-weight: bold;
        }
    }
}
.default-design {
    background-image: url('/public/images/coworking/IMG_0686.png');
}
.event-design {
    background-image: url('/public/images/coworking/IMG_0682.png');
}
.order-design {
    background-image: url('/public/images/coworking/IMG_0676.png');
}
.product-design {
    background-image: url('/public/images/coworking/IMG_0678.png');
}
.portage-design {
    background-image: url('/public/images/coworking/portage.jpg');
}
.cart-design {
    background-image: url('/public/images/coworking/IMG_0700.png');
}
.paralax {
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    color: white;
    position: relative;
    align-items: center; 
}

.paralax::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1;
}

.paralax > * {
    position: relative;
    z-index: 2;
}
.main-content-min {
    max-height: 500px; /* Hauteur minimale */
    display: flex; 
    flex-direction: column; /* Disposition verticale */
    justify-content: center; /* Centrer verticalement */
    align-items: center; /* Centrer horizontalement */
}
.main-content {
    height: calc(100vh - 70px); /* Ajustez cette hauteur en fonction de la hauteur de votre nav */
    display: flex; 
    flex-direction: column; /* Assurez-vous que les éléments sont disposés verticalement */
    justify-content: center; /* Centre verticalement le contenu */
    align-items: center; /* Centre horizontalement, si nécessaire */
  }
  
  @media (max-width: 991px) {
    .main-content {
      height: calc(100vh - 56px); /* Hauteur ajustée pour mobiles */
    }
  }
.blurry-image {
    filter: blur(5px) brightness(0.7);
    transition: filter 0.3s ease-in-out;
}

.overlay-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;  // Assure que le texte est en gras
    text-shadow: 2px 2px 4px #000;
    pointer-events: none; // Empêche le texte d'interférer avec les interactions
    text-align: center;   // Centre le texte si plusieurs lignes
}

